<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Spring Security Example </title>
    <link rel="stylesheet" th:href="@{/resources/css/adminpanel.css}"/>
    <div th:replace="fragments/header :: header-css"/>
    
</head>
<body class="container">

<div th:replace="fragments/header :: header"/>



<section>

<button id="bt1">Load Fragment 1</button>
<button id="bt2">Load Fragment 2</button>

<ol id="lista3">
    <li id="userListSelect" class="itemList">Usuarios</li>
	<div class="loader" id="userLoader"></div>
    <div id="userContent"></div>
    <li id="routeListSelect" class="itemList">Rutas</li>
	<div class="loader" id="routeLoader"></div>
     <div id="routeContent"></div>
    <li class="itemList">Lugares (FS)</li>
    <li class="itemList">Eventos</li>
    <li class="itemList">Categorias (FS)</li>
    <li class="itemList">SubCategorias (FS)</li> 
</ol>
</section>


<div th:replace="fragments/footer :: footer"/>

<script>
    /*<![CDATA[*/
    $("#userListSelect").on("click", function () {
   		$("#userLoader").show();
        $("#userContent").load("/admin/panel/users", function() {
        	$("#userLoader").hide();
        });
    });
 
    $("#routeListSelect").on("click", function () {
    	$("#routeLoader").show();
        $("#routeContent").load("/admin/panel/routes", function() {
        	$("#routeLoader").hide();
        });
    });
    
    
    
    /*]]>*/
</script>
</body>
</html>