<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Spring Security Example </title>
    <link rel="stylesheet" th:href="@{/resources/css/adminpanel.css}"/>
    <div th:replace="fragments/header :: header-css"/>
    
</head>
<body>

<div th:replace="fragments/header :: header"/>

<section class="container">
<button id="bt1">Load Fragment 1</button>
<button id="bt2">Load Fragment 2</button>
<div id="content"></div>

<ol id="lista3">
    <li class="itemList">Usuarios</li>
    <li class="itemList">Lugares FS</li>
    <li class="itemList">Rutas
       <ol>
          <li class="itemList">Días</li>
          <li class="itemList">List sub item</li>
          <li class="itemList">List sub item</li>
       </ol>
    </li>
    <li class="itemList">List item</li>
    <li class="itemList">List item</li> 
</ol>
</section>


<div th:replace="fragments/footer :: footer"/>

<script>
    /*<![CDATA[*/
    $("#bt1").on("click", function () {
        $("#content").load("/admin/panel/frag1");
    });
 
    $("#bt2").on("click", function () {
        $("#content").load("/frag2");
    });
    /*]]>*/
</script>
</body>
</html>