#lista3 {
    counter-reset: li; 
    list-style: none; 
    *list-style: decimal; 
    font: 15px 'trebuchet MS', 'lucida sans';
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

#lista3 ol {
    margin: 0 0 0 2em; 
}

#lista3 li{
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;   
}

#lista3 li:hover{
    background: #eee;
}   

#lista3 li:before{
    content: '--';
    counter-increment: li;
    position: absolute; 
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    background: rgb(201, 121, 121);
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

#lista3 li:after{
    position: absolute; 
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;               
}

#lista3 li:hover:after{
    left: -.5em;
    border-left-color:  rgb(201, 121, 121);         
}

.filter-div{
	margin-bottom: 3px;
}

.itemList {
	height: 80px;
	color: rgb(201, 121, 121) !important;
	font-size: 1.4em;
	font-weight: bold;
	line-height: 3;
	text-align: center;
	cursor: pointer;
}


.table-wrapper{
	margin-top: 30px;
	text-align: right;
	margin-left: 10%;
	margin-right: 10%;
	  margin-bottom: 100px;
}

.input-filter {
  width:100%;
  height: 35px;
  right: 0px;
  font-size: 18px;
  margin-bottom: 10px;
  padding:2px;
  border:0;
  text-align: right;
}

.index-input{
	border: 0;
	background: transparent;
	color: grey;
	font-weight: bold;
	text-align: center;
	width: 20%;
}

.index-input2{
	width: 18%;
	margin-left: -15%;
}

table {
	margin-bottom: 5px !important;
  background-color: #FFFFFF;
  width: 100%;
  text-align: left;
}
table td, table th {
	min-width: 150px;
  border: 0px solid #AAAAAA;
  padding: 8px 4px;
}
table tbody td {
  font-size: 14px;
}
table tr:nth-child(even) {
  background: #DEDEDE;
}
table thead {
  background: #2c7192;
  border-bottom: 4px solid #25394a
}
table thead th {
	font-weight: normal;
	font-family: monospace;
  font-size: 1em;
  color: #FFFFFF;
  border-left: 2px solid #FFFFFF;
}
table thead th:first-child {
  border-left: none;
}

tfoot {
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
  background: rgba(201, 121, 121, 0.15);
  border-top: 2px solid #444444;
}
table tfoot td {
  font-size: 12px;
}
.links {
	margin-top: 10px;
  text-align: center;
}
.links button{
  display: inline-block;
  background: #2c7192;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
}




.loader {
	margin-top: 30px;
	margin-bottom: 30px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #2c7192;
  border-bottom: 16px solid #2c7192;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-left: 48%;
  display: none;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



  
  
  
.table::-webkit-scrollbar {
	margin-top:5px;
    height: 10px;
}

/* Track */
.table::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
 
/* Handle */
.table::-webkit-scrollbar-thumb {
    background: #2c7192; 
    border-radius: 10px;
}

/* Handle on hover */
.table::-webkit-scrollbar-thumb:hover {
    background: #2c7192; 
}






#main-panel {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#main-panel td, #main-panel th {
    border: 1px solid #ddd;
    padding: 8px;
}

#main-panel tr:nth-child(even){background-color: #f2f2f2;}

#main-panel tr:hover {background-color: #ddd;}

#main-panel th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #202035e3;
    color: white;
}
  
  
  
  