<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Rutas - Panel de Administración</title>
<script th:src="@{/resources/js/adminpanel/adminpanel.js}"></script>
<link rel="stylesheet" th:href="@{/resources/css/adminpanel/adminpanelroutes.css}" />
<div th:replace="fragments/adminpanel/header :: header-css" />
</head>
<body>

<div th:replace="fragments/adminpanel/header :: header" />

<div class="container">
		
		
		
<table class="main-panel">
  <tr>
    <th>Rutas</th>
    <th class="but-to-collapse">
    <button id="route-button-collapse-select" type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-collapse-down"></span>
     </button>
     <button style="display: none;" id="route-button-select" type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon glyphicon-refresh"></span>
     </button>
    </th>
  </tr>
</table>

<div class="loader" id="route-loader"></div>
<div id="route-content"></div> 

<table class="main-panel">
  <tr>
    <th>Días de la Ruta</th>
    <th class="but-to-collapse">
    <button id="routeday-button-collapse-select" type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-collapse-down"></span>
     </button>
     <button  style="display: none;" id="routeday-button-select" type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon glyphicon-refresh"></span>
     </button>
    </th>
  </tr>
</table>

<div class="loader" id="routeday-loader"></div>
<div id="routeday-content"></div> 

<table class="main-panel">
  <tr>
    <th>Visitas</th>
    <th class="but-to-collapse">
    <button id="stay-button-collapse-select" type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-collapse-down"></span>
     </button>
     <button style="display: none;" id="stay-button-select" type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon glyphicon-refresh"></span>
     </button>
    </th>
  </tr>
</table>

<div class="loader" id="stay-loader"></div>
<div id="stay-content"></div> 

</div>
</body>

<script>
		/*<![CDATA[*/

		$("#route-button-collapse-select").on("click", function() {
			$("#route-button-collapse-select").hide();
			$("#route-button-select").show();
			$("#route-button-select").click();
		});
		
		$("#route-button-select").on("click", function() {
			$("#route-content").hide();
			$("#route-loader").show();
			$("#route-content").load("/admin/panel/routes/ajax/route", function() {
				$("#route-loader").hide();
				$("#route-content").show();
			});
		});
		
		$("#routeday-button-collapse-select").on("click", function() {
			$("#routeday-button-collapse-select").hide();
			$("#routeday-button-select").show();
			$("#routeday-button-select").click();
		});
		
		$("#routeday-button-select").on("click", function() {
			$("#routeday-content").hide();
			$("#routeday-loader").show();
			$("#routeday-content").load("/admin/panel/routes/ajax/routeday", function() {
				$("#routeday-loader").hide();
				$("#routeday-content").show();
			});
		});
		
		$("#stay-button-collapse-select").on("click", function() {
			$("#stay-button-collapse-select").hide();
			$("#stay-button-select").show();
			$("#stay-button-select").click();
		});
		
		$("#stay-button-select").on("click", function() {
			$("#stay-content").hide();
			$("#stay-loader").show();
			$("#stay-content").load("/admin/panel/routes/ajax/stay", function() {
				$("#stay-loader").hide();
				$("#stay-content").show();
			});
		});
		
		
		/*]]>*/
	</script>

</html>