<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
>
<head>
<title>Panel de Administración</title>
	<link rel="stylesheet" th:href="@{/resources/css/adminpanel/adminpanel.css}" />
<div th:replace="fragments/adminpanel/header :: header-css" />
</head>
<body>

	<div th:replace="fragments/adminpanel/header :: header" />

		<div class="container">
		
		
		
<table id="users" class="table_to_link" onclick="redirect('users')">
  <tr>
    <th>Autenticación</th>
  </tr>
  <tr>
    <td>Usuarios</td>
  <tr>
</table>
<a id="users-link" style="display: none;" th:href="@{/admin/panel/users}"></a>

<table id="routes" class="table_to_link"  onclick="redirect('routes')">
  <tr>
    <th>Administración de Rutas</th>
  </tr>
  <tr>
    <td>Rutas</td>
  <tr>
  <tr>
    <td>Días de la Ruta</td>
  <tr>
  <tr>
    <td>Visitas</td>
  <tr>
</table>
<a id="routes-link" style="display: none;" th:href="@{/admin/panel/routes}"></a>


<table id="events" class="table_to_link"  onclick="redirect('events')">
  <tr>
    <th>Administración de Eventos</th>
  </tr>
  <tr>
    <td>Eventos</td>
  <tr>
  <tr>
    <td>Días del Evento</td>
  <tr>
  <tr>
    <td>Lugares del Evento</td>
  <tr>
</table>
<a id="events-link" style="display: none;" th:href="@{/admin/panel/events}"></a>

<table id="foursquare" class="table_to_link"  onclick="redirect('foursquare')">
  <tr>
    <th>Foursquare</th>
  </tr>
  <tr>
    <td>Lugares</td>
  <tr>
  <tr>
   <td>Categorías</td>
  <tr>
  <tr>
    <td>Sub-Categorías</td>
  <tr>
</table>
<a id="foursquare-link" style="display: none;" th:href="@{/admin/panel/foursquare}"></a>


</div>
	<script>
		/*<![CDATA[*/

		var redirect = function(entity) {
			console.log(entity);
			var linkId = "#" + entity + "-link";
			var link = $(linkId);
			console.log(link);
			$(link)[0].click();
		}
		/*]]>*/
	</script>
</body>
</html>