<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
>
<head>
<title>Spring Security Example</title>
	<link rel="stylesheet" th:href="@{/resources/css/adminpanel/adminpanel.css}" />
<div th:replace="fragments/header :: header-css" />
</head>
<body>

	<div th:replace="fragments/header :: header" />

		<div class="container">
		
		
		
<table id="users" class="table_to_link" onclick="redirect('users')">
  <tr>
    <th>Authentication</th>
  </tr>
  <tr>
    <td>Users</td>
  <tr>
</table>
<a id="users-link" style="display: none;" th:href="@{/admin/panel/users}"></a>

<table id="routes" class="table_to_link"  onclick="redirect('routes')">
  <tr>
    <th>Route Administration</th>
  </tr>
  <tr>
    <td>Routes</td>
  <tr>
  <tr>
    <td>Routes Days</td>
  <tr>
  <tr>
    <td>Stays</td>
  <tr>
</table>
<a id="routes-link" style="display: none;" th:href="@{/admin/panel/routes}"></a>


<table id="events" class="table_to_link"  onclick="redirect('events')">
  <tr>
    <th>Events Administration</th>
  </tr>
  <tr>
    <td>Events</td>
  <tr>
  <tr>
    <td>Events Days</td>
  <tr>
  <tr>
    <td>Events Places</td>
  <tr>
</table>
<a id="events-link" style="display: none;" th:href="@{/admin/panel/events}"></a>

<table id="foursquare" class="table_to_link"  onclick="redirect('foursquare')">
  <tr>
    <th>Foursquare</th>
  </tr>
  <tr>
    <td>Places</td>
  <tr>
  <tr>
   <td>Categories</td>
  <tr>
  <tr>
    <td>Sub-Categories</td>
  <tr>
</table>
<a id="foursquare-link" style="display: none;" th:href="@{/admin/panel/foursquare}"></a>


</div>
	<script>
		/*<![CDATA[*/

		var redirect = function(entity) {
			console.log(entity);
			var linkId = "#" + entity + "-link";
			var link = $(linkId);
			console.log(link);
			$(link)[0].click();
		}
		/*]]>*/
	</script>
</body>
</html>