<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
>
<head>
<title>Admin Panel Page</title>
	<link rel="stylesheet" th:href="@{/resources/css/adminpanel/adminpanel.css}" />
<div th:replace="fragments/adminpanel/header :: header-css" />
</head>
<body>

	<div th:replace="fragments/adminpanel/header :: header" />

		<div class="container">
		
		
		
<table id="events" class="table_to_link"  onclick="redirect('events')">
  <tr>
    <th>Events Administration</th>
  </tr>
  <tr>
    <td>Events</td>
  <tr>
  <tr>
    <td>Events Days</td>
  <tr>
  <tr>
    <td>Events Places</td>
  <tr>
</table>
<a id="events-link" style="display: none;" th:href="@{/admin/panel/events}"></a>


</div>
	<script>
		/*<![CDATA[*/

		var redirect = function(entity) {
			console.log(entity);
			var linkId = "#" + entity + "-link";
			var link = $(linkId);
			console.log(link);
			$(link)[0].click();
		}
		/*]]>*/
	</script>
</body>
</html>