.title{
	margin-top: 20px;
	margin-bottom: 30px;
}

.selector-state{
	cursor: pointer;
}


.myroute-img{
	height: 200px !important;
}


#myroutes-content{
	margin-top: 30px;
}

.row{
	height: 30px !important;
}

#divNoData{
	text-align: center;
	margin-top: 150px;
}

#textNoData{
	font-style: italic;
	color: #C83939;
	font-size: 1.2em;
}