.title{
	margin-top: 20px;
	margin-bottom: 30px;
}

.pagination{
	min-width: 250px;
	font-size: 1.4em;
}

#nav-day{
	text-align: center;
}

#text-day{
	width: 70%;
}

a.disabled {
   cursor: not-allowed;
}

a.enabled {
	cursor: pointer;
} 

.row{
	height: 700px;
	margin-bottom: 100px;
}

#map {
	height: 100%;
}

.listPlaces{
	max-height: 700px;
	overflow: scroll;
}

.placeTitle{
	font-size: 25px;
	margin:0;
	color: #823434;
	font-weight: bold;
}

.placeSubTitle{
	padding: 0 !important;
	padding-left: 15px !important;
	color: #001d5f;
}

.eventTitle{
	font-size: 25px;
	margin:0;
	color: #00266d;
	font-weight: bold;
}

.eventTitle2{
	font-size: 18px;
	margin:0;
	padding-top: 0 !important;
	color: #00266d;
	font-weight: bold;
}

.eventSubTitle{
	padding: 0 !important;
	padding-left: 15px !important;
	color: #001d5f;
}


.placeStopTime{
	font-size: 1.1em;
	font-family: monospace;
	text-align: center;
	font-style: italic;
	font-weight: bold;
}

#panelBody{
	padding: 8px;
	padding-left: 15px;
	background-color: rgba(243, 227, 227, 0.5);
}

#panelBody2{
	padding: 8px;
	padding-left: 15px;
	background-color: rgba(235, 239, 255, 0.5);
}


.panelBody{
	padding: 8px;
	padding-left: 15px;
	background-color: rgba(243, 227, 227, 0.5);
}

.panelBody2{
	padding: 8px;
	padding-left: 15px;
	background-color: rgba(235, 239, 255, 0.5);
}

.currentDate{
	margin-bottom: 2%;
	margin-top: -10px;
	font-style: italic;
	color: #337ab7;
	font-weight: bold;
}

.placeStopTime{
	padding-top: 0px !important;
}

.eventDisp{
	text-align: center;
	font-family: fantasy;
}

.row2 {

    }

    .col1 {
	text-align: left;
    }

    .col2 {
	text-align: center;
	font-weight: bold;
	font-style: italic;
    }

 .col3 {
	text-align: right;
    }

    
    
   .infowindow{
        width: 200px;
        
    }

    #iw-col1 {
        width: 40px;
        height: 40px;
        position: absolute;
        text-align: center;
        padding: 0px;
        border: 3px solid rgb(231, 108, 108);
        border-radius: 100px;
        background-color: rgb(231, 108, 108);
        margin-top: 15px;
    }

    #iw-col1-event{
        width: 50px;
        height: 50px;
        position: absolute;
        text-align: center;
        padding: 0px;
        border: 3px solid rgb(255, 123, 0);
        border-radius: 100px;
        background-color: rgb(255, 123, 0);
        margin-left: 10px;
        margin-top: 15px;
    }

    .iw-col1-text{
        color: white;
        font-size: 2em;
        margin-top: 2px;
    }

    #iw-col2{
        margin-left: 5px;
        min-height: 60px;
        margin: 0px;
        float: right;
    }
    
    .iw-col2-row1{
        max-width: 120px;
        min-height: 30px;
        margin-top: 10px;
        margin-left: 50px;
    }

    .iw-col2-row1-text {
        color: rgba(49, 11, 11, 0.65);
        font-size: 1.2em;
        font-weight: bold;
    }

    .iw-col2-row2{
        max-width: 120px;
        margin-top: -10px;
        margin-left: 50px;
    }

    .iw-col2-row2-text{
        color: rgba(49, 11, 11, 0.65);
    }

    .iw-col2-row3{
        height: 30px;
        width: 180px;
        margin-left: -60px;
        text-align: center;
        margin-top: 5px;
    }

    .iw-col2-row3-text{
        color: rgba(49, 11, 11, 0.65);
        font-size: 0.9em;
        font-style: italic;
    }