<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>TFG-App Rest Service</display-name>

	
	
<listener>  
    	<listener-class>es.udc.rdopazo.tfg.app.application.resteasy.util.MyServlet</listener-class>
	</listener>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:es/udc/rdopazo/tfg/app/application/resteasy/spring/spring-config.xml</param-value>
	</context-param>


	<context-param>
		<param-name>resteasy.providers</param-name>
		<param-value>es.udc.rdopazo.tfg.app.application.resteasy.util.Filter, es.udc.rdopazo.tfg.app.application.resteasy.util.filter.TokenAuthenticatorFilter, es.udc.rdopazo.tfg.app.application.resteasy.util.filter.TokenInitializeFilter</param-value>
	</context-param>



	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>

	<!-- RESTeasy configuration -->
	<listener>
		<listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
	</listener>
	
	<listener>
		<listener-class>org.jboss.resteasy.plugins.spring.SpringContextLoaderListener</listener-class>
	</listener>
	
	<!-- Services registered on application -->
	<servlet>

		<servlet-name>resteasy-servlet</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>es.udc.rdopazo.tfg.app.application.resteasy.application.TravelRestApplication</param-value>
		</init-param>
		<init-param>
			<param-name>resteasy.servlet.mapping.prefix</param-name>
			<param-value>/rest</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>resteasy-servlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>


</web-app>