<div th:fragment="route" id="routes-frag"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" class="table-wrapper"
>
	<nav id="nav-day" aria-label="Page navigation">
		<ul class="pagination">
			<li><a th:if="${day.idDay == 1}" class="disabled"
				aria-label="Previous"
			> <span aria-hidden="true">&laquo;</span>
			</a> <a th:if="${day.idDay != 1}" class="enabled"
				th:onclick="'getBeforeDay(\'' + ${day.idRoute} + '\',\'' + ${day.idDay} + '\')'"
				aria-label="Previous"
			> <span aria-hidden="true">&laquo;</span>
			</a></li>
			<li><a class="disabled"
				th:text="'Día ' + ${day.idDay} + ' de ' + ${numDays}" id="text-day"
			></a></li>
			<li><a th:if="${day.idDay == numDays}" class="disabled"
				aria-label="Next"
			> <span aria-hidden="true">&raquo;</span>
			</a> <a th:if="${day.idDay != numDays}" class="enabled"
				th:onclick="'getNextDay(\'' + ${day.idRoute} + '\',\'' + ${day.idDay} + '\')'"
				aria-label="Next"
			> <span aria-hidden="true">&raquo;</span>
			</a></li>
		</ul>
	</nav>

	<div style="text-align: center;">
		<p th:data-day="${day.idDay}" class="currentDate"></p>
	</div>



	<div class="row">
		<div class="col-md-7" id="map"></div>
		<div class="col-md-5 listPlaces" th:if="${day.stays.size()} == 0">
		<p id="noData">No hay luagres asignados a este día</p>
		</div>
		<div class="col-md-5 listPlaces" th:if="${day.stays.size()} != 0">
			<div th:each="stay,iter : ${day.stays}">
				<div th:if="${stay.place} != null" class="panel panel-danger">
					<div th:data-ind="${iter.index}" class="arrivalTime panel-heading"></div>

					<div id="panelBody">
						<h2 th:text="${stay.place.name}" class="placeTitle panel-body"></h2>
						<p th:text="${stay.place.categoryName}"
							class="placeSubTitle panel-body"
						></p>
						<p th:text="${stay.place.address}"
							class="placeSubTitle panel-body"
						></p>
						<p th:data-milli="${stay.time}" class="placeStopTime panel-body"></p>
					</div>
				</div>

				<div th:if="${stay.eventPlace} != null" class="panel panel-primary">
					<div th:data-ind="${iter.index}" class="arrivalTime panel-heading"></div>
					<div id="panelBody2">
						<h2 th:text="${stay.eventPlace.name}"
							class="eventTitle panel-body"
						></h2>
						<h3 th:text="${stay.eventPlace.eventName}"
							class="eventTitle2 panel-body"
						></h3>
						<p th:text="${stay.eventPlace.address}"
							class="eventSubTitle panel-body"
						></p>
						<p th:data-eventplace="${iter.index}" class="eventDisp panel-body"></p>
						<p th:data-milli="${stay.time}" class="placeStopTime panel-body"></p>
					</div>
				</div>


				<div th:if="${iter.index} < ${#lists.size(day.stays) - 1}"
					class="panel panel-warning"
				>
					<div class="panel-heading">Desplazamiento al siguiente
						destino</div>
					<div th:if="${stay.travelTime} != 0" class="row2 panel-body">
						<div th:data-milli="${stay.travelTime}"
							class="col-md-4 col1 travelDuration"
						></div>
						<div th:data-mode="${stay.travelMode}"
							class="col-md-4 col2 travelMode"
						></div>
						<div th:data-distance="${stay.travelDistance}"
							class="col-md-4 col3 travelDistance"
						></div>
					</div>
					<div th:if="${stay.travelTime} == 0" class="col2">
						Información no disponible</div>
				</div>

			</div>
		</div>
	</div>



	<script th:inline="javascript">
	
	function getInitArrivalTime(time) {
        return moment.utc(time).format("HH:mm");
    }
	
	function getArrivalTime(index) {
		var stays = [[${day.stays}]];
		var startTime = [[${day.startTime}]];
		
		var sum = parseFloat(startTime);
		for (var i = 0; i < index; i++) {
		   sum = sum + parseFloat(stays[i].time) + parseFloat(stays[i].travelTime);
		}
		return moment.utc(sum).format("HH:mm");
    }
	
	function getCurrentDate(day) {
		var startDate = [[${startDate}]];
		moment.locale('es');
		startDate = moment(startDate);
		var oneDayInMs = 86400000;
		return moment(startDate + oneDayInMs * (day - 1)).format("DD [de] MMMM [de] YYYY");
	}
	
	function convertMsToStringLarge(milliseconds) {
		var date = moment.duration(milliseconds, 'milliseconds');
		if (date.hours() > 0) {
		      if (date.hours() == 1) {
		        return date.hours() + " h " + date.minutes() + " m";
		      } 
		    } else {
		      if (date.minutes() == 0) {
		        return date.seconds() + " seg";
		      } else {
		        if (date.seconds() == 0) {
		          return date.minutes() + " min";
		        } else {
		          return date.minutes() + " min " + date.seconds() + " seg";
		        }
		      }
		    }
	}
	
	function convertMsToString(milliseconds) {
	    var date = moment.duration(milliseconds, 'milliseconds');
	    return "Parada: " + date.hours() + "h " + date.minutes() + "m";
	}
	
	function getTravelDistance(distance) {
		if (distance == null) {
		      return "0 metros";
		    } else if (distance / 1000 >= 1) {
		      return distance / 1000 + " km"
		    }
		    return distance + " metros";
	}
	
	function getTravelMode(mode) {
		if (mode == "WALKING") {
			return "ANDANDO";
		} else if (mode == "DRIVING") {
			return "EN COCHE";
		} else if (mode == "BICYCLING") {
			return "EN BICI";
		}
	}
	
	function convertMsToDate(eventPlace) {
		var stays = [[${day.stays}]];
		var evplace = stays[eventPlace].eventPlace;
		console.log(evplace);
		var date1 = moment.utc(evplace.startHour).format("HH:mm");
		console.log(date1);
		var date2 = moment.utc(evplace.endHour).format("HH:mm");
	    return "Disponible de: " + date1 + " A: " + date2;
	}

    $(function() {
        $('.initialTime').each(function (i, e) {
            $(e).html(getInitArrivalTime($(e).data('time')));
        })
         $('.arrivalTime').each(function (i, e) {
            $(e).html(getArrivalTime($(e).data('ind')));
        })
         $('.currentDate').each(function (i, e) {
            $(e).html(getCurrentDate($(e).data('day')));
        })
        $('.travelDuration').each(function (i, e) {
            $(e).html(convertMsToStringLarge($(e).data('milli')));
        })
        $('.travelDistance').each(function (i, e) {
            $(e).html(getTravelDistance($(e).data('distance')));
        })
        $('.travelMode').each(function (i, e) {
            $(e).html(getTravelMode($(e).data('mode')));
        })
        $('.placeStopTime').each(function (i, e) {
            $(e).html(convertMsToString($(e).data('milli')));
        })
        $('.eventDisp').each(function (i, e) {
            $(e).html(convertMsToDate($(e).data('eventplace')));
        })
    });
	
    
      function initMap() {
	  var stepDisplay = new google.maps.InfoWindow;
	  var index = 0;
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer({suppressMarkers: true, suppressPolylines: true});
        var style = [
        	  {
        		    "elementType": "labels",
        		    "stylers": [
        		      {
        		        "visibility": "off"
        		      }
        		    ]
        		  },
        		  {
        		    "featureType": "administrative.land_parcel",
        		    "stylers": [
        		      {
        		        "visibility": "off"
        		      }
        		    ]
        		  },
        		  {
        		    "featureType": "administrative.neighborhood",
        		    "stylers": [
        		      {
        		        "visibility": "off"
        		      }
        		    ]
        		  }
        		];
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          styles: style,
          center: {lat: [[${centerLat}]], lng: [[${centerLng}]]}
        });
        
        var stays = [[${day.stays}]];
        
        var markers = [];
        var infos = [];
        for (var i = 0; i < stays.length; i++) {
        	var place = null; 
        	if (stays[i].place != null) {
    			place = stays[i].place;
    		} else if (stays[i].eventPlace != null) {
    			place = stays[i].eventPlace;
    		}
        	var marker = new google.maps.Marker({ 		
    		    position: {lat: place.lat, lng: place.lng},
    		    map: map,
    		    title: place.name,
    		    icon:'http://www.google.com/mapfiles/marker.png?i='+(stays[i].id)});
           markers.push({"marker": marker, "pos": i});
           var infowindow = new google.maps.InfoWindow;
           var content = "<div><div id='iw-col1'><p class='iw-col1-text'>" + stays[i].order + "</p></div><div id='iw-col2'><div class='iw-col2-row1'><p class='iw-col2-row1-text'>" + place.name + "</p></div><div class='iw-col2-row2'><p class='iw-col2-row2-text'>" + place.address + "</p></div></div></div>"; 
		   
		   google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){ 
		        return function() {
		           infowindow.setContent(content);
		           infowindow.open(map,marker);
		        };
		    })(marker,content,infowindow));
          
        }
        
     	
        

        directionsDisplay.setMap(map);
    
        calculateAndDisplayRoute(directionsService, directionsDisplay, map);
     }
	
      
      
      
      function calculateAndDisplayRoute(directionsService, directionsDisplay, map) {
		var lat_lng = new Array();
		var travelModes = new Array();
		var latlngbounds = new google.maps.LatLngBounds();
		
		var stays = [[${day.stays}]];
		for (i = 0; i < stays.length; i++) {
			if (i < stays.length - 1) {
				var place1 = null; 
				var place2 = null;
	        	if (stays[i].place != null) {
	    			place1 = stays[i].place;
	    		} else if (stays[i].eventPlace != null) {
	    			place1 = stays[i].eventPlace;
	    		}	
	        	if (stays[i+1].place != null) {
	    			place2 = stays[i+1].place;
	    		} else if (stays[i+1].eventPlace != null) {
	    			place2 = stays[i+1].eventPlace;
	    		}	
	        	
	        	
	        	var travelMode = "WALKING";
	        	
	        	if (stays[i].travelMode != null) {
	        		travelMode = stays[i].travelMode;
	        	}
				var latlng1 = new google.maps.LatLng(place1.lat, place1.lng);
				var latlng2 = new google.maps.LatLng(place2.lat, place2.lng);
				directionsService.route({
			          origin: latlng1,
			          destination: latlng2,
			          travelMode: travelMode
			    }, function(response, status) {
			          if (status === 'OK') {	
			            directionsDisplay.setDirections(response);
			            directionsDisplay.setMap(map);
			            var stayToSend = {"travelMode": response.request.travelMode, "travelDistance": response.routes[0].legs[0].distance.value, "travelTime": response.routes[0].legs[0].duration.value}
			            renderDirectionsPolylines(response, map, latlng1, latlng2, stayToSend);

			          } else {
			            window.alert('Directions request failed due to ' + status);
			          }
			       });   
			}
		}	
     	     
      }
      
      var polylineOptions = {
    		  strokeColor: '#C83939',
    		  strokeOpacity: 1,
    		  strokeWeight: 4
    		};
      
      
   		var polylines = [];
   		var infos = [];
   		
   		
   		function renderDirectionsPolylines(response, map, latlng1, latlng2, stay) {
   			 
   			var stepPolyline = new google.maps.Polyline(polylineOptions);
   		  var legs = response.routes[0].legs;
   			stepPolyline.getPath().push(legs[0].steps[0].start_location);
   		  for (step in response.routes[0].legs[0].steps) {
   		    for (latlng in response.routes[0].legs[0].steps[step].lat_lngs) {
   		 		stepPolyline.getPath().push(response.routes[0].legs[0].steps[step].lat_lngs[latlng]);
   		    	}
   		 	}
		   	
		      polylines.push(stepPolyline);
		      stepPolyline.setMap(map);
   		}
  	
   		
   		var getNextDay = function(idRoute, idDay) {
   			var day = parseInt(idDay) + 1;
   			$("#routedetail-content").hide();
   			$("#routedetail-loader").show();
			$("#routedetail-content").load("/route/info/ajax/" + idRoute + "/day/" + day, function() {
				$("#routedetail-loader").hide();
				$("#routedetail-content").show();
			});
   		}
   		
   		var getBeforeDay = function(idRoute, idDay) {
   			var day = idDay - 1;
   			$("#routedetail-content").hide();
   			$("#routedetail-loader").show();
			$("#routedetail-content").load("/route/info/ajax/" + idRoute + "/day/" + day, function() {
				$("#routedetail-loader").hide();
				$("#routedetail-content").show();
			});
   		}
      
    </script>
    
    <script async defer
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD_hcQyaUV6ltmwZYyw27eelDG8W9t6kO4&callback=initMap"
	>
    </script>

</div>