<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
         http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    	 http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd">

	<bean id = "foursquareClient" class = "es.udc.rdopazo.tfg.app.model.core.util.FoursquareClient">
      <constructor-arg index = "0" value = "QVCGTXJPDGQERVGOWYIJD4CDHAKDUHG3PEBSOQF2XA0KSMJX"/>
      <constructor-arg index = "1" value = "IH13FHC1J332RGX04DREJNKQU4TGTRRNGK2OUXTRK5XXA5SE"/>
      <constructor-arg index = "2" value = "http://localhost:8080/eTravel"/>
   </bean>
</beans>