<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
>
<head>
<title>Explorar Rutas</title>
	<link rel="stylesheet" th:href="@{/resources/css/app/explore.css}" />
<div th:replace="fragments/app/header :: header-css" />
</head>


<body>
<div th:replace="fragments/app/header :: header" />

<div class="container">

<div class="title">
	<h2>Explorar Rutas</h2>
</div>
		
<div id="exproutes-content"></div> 
<div id="exproutes-loader" class="loader"></div>


</div>

	<script>
	/*<![CDATA[*/
	$(document).ready(function() {		
			$("#exproutes-loader").show();
			$("#exproutes-content").load("/explore/ajax/explore", function() {
				$("#exproutes-loader").hide();
				$("#exproutes-content").show();
			});
	});
	
	/*]]>*/
	</script>
</body>
</html>