<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
>
<head>
<title>My Routes · App</title>
	<link rel="stylesheet" th:href="@{/resources/css/app/myroutes.css}" />
	<link rel="stylesheet" th:href="@{/resources/css/app/app.css}" />
	<script th:src="@{/resources/js/app/app.js}"></script>
<div th:replace="fragments/app/header :: header-css" />
</head>


<body>
<div th:replace="fragments/app/header :: header" />

<div class="container">

<div class="title">
	<h2>Mis Rutas</h2>
</div>
		
<ul class="nav nav-tabs nav-justified">
	<li id="selector-pending" onclick="loadMyRoutes('PENDING')" role="presentation" class="selector-state active"><a>Pendientes</a></li>
  	<li id="selector-in_progress" onclick="loadMyRoutes('IN_PROGRESS')" role="presentation" class="selector-state"><a>En Curso</a></li>
  	<li id="selector-completed" onclick="loadMyRoutes('COMPLETED')" role="presentation" class="selector-state"><a>Finalizadas</a></li>
</ul>

<div id="myroutes-content"></div> 
<div id="myroutes-loader" class="loader"></div>


</div>

	<script>
		/*<![CDATA[*/
		$(document).ready(function() {		
				$("#myroutes-loader").show();
				$("#myroutes-content").load("/myroutes/ajax/getownroutes?filter=state&value=PENDING", function() {
					$("#myroutes-loader").hide();
					$("#myroutes-content").show();
				});
		});
		
		/*]]>*/
	</script>
</body>
</html>