<div th:fragment="place" id="foursquare-frag"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" class="table-wrapper"
>


	<div class="filter-div">

		<div class="row">
			<div class="input-group filter-div-one col-sm-3 col-md-3 col-xs-3">

			</div>
			<div class="input-group filter-div-two col-sm-3 col-md-3 col-xs-3">

			</div>
			<div class="input-group filter-div-three col-sm-1 col-md-1 col-xs-1">
			</div>

			<div class="input-group filter-div-four col-sm-5 col-md-5 col-xs-5">
				<span class="input-group-addon" id="basic-addon1"> <select
					class="custom-select" id="place-select-filter"
				>
						<option th:selected="${filterField} == id" value="id">Id</option>
						<option th:selected="${filterField} == name" value="name">Nombre</option>
						<option th:selected="${filterField} == lat"
							value="lat"
						>Latitud</option>
						<option th:selected="${filterField} == lng" value="lng">Longitud</option>
						<option th:selected="${filterField} == address"
							value="address"
						>Dirección</option>
						<option th:selected="${filterField} == cc" value="cc">CC</option>
						<option th:selected="${filterField} == city" value="city">Ciudad</option>
						<option th:selected="${filterField} == country" value="country">País</option>
						<option th:selected="${filterField} == postalCode" value="postalCode">Código Postal</option>
						<option th:selected="${filterField} == province" value="province">Provincia</option>
						<option th:selected="${filterField} == ifFoursquare" value="idFoursquare">Id Foursquare</option>
						<option th:selected="${filterField} == categoryName" value="categoryName">Categoría</option>
						<option th:selected="${filterField} == verified" value="verified">Verificado</option>
				</select></span> <input th:value="${filterValue}" id="place-input-filter"
					type="text" class="form-control" placeholder="Filtro"
					aria-describedby="basic-addon1"
				>
			</div>

		</div>
		<div class="row filter-row2">
			<button id="applyFilterButton" type="button" class="btn btn-default"
				onclick="filterBy('foursquare', 'place', '0')"
			>Aplicar</button>
		</div>

	</div>

	<div class="table" style="overflow: auto;">
		<table id="place-table" class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Nombre</th>
					<th scope="col">Foto</th>
					<th scope="col">Latitud</th>
					<th scope="col">Longitud</th>
					<th scope="col">Dirección</th>
					<th scope="col">CC</th>
					<th scope="col">Ciudad</th>
					<th scope="col">País</th>
					<th scope="col">Código Postal</th>
					<th scope="col">Provincia</th>
					<th scope="col">Id Foursquare</th>
					<th scope="col">Categoría</th>
					<th scope="col">Icono</th>
					<th scope="col">Verificado</th>
					<th scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody id="foursquare-body">

				<tr th:each="place : ${places}">
					<th scope="row" th:text="${place.id}"></th>
					<td th:text="${place.name}"></td>
					<td th:text="${place.photo}"></td>
					<td th:text="${place.lat}"></td>
					<td th:text="${place.lng}"></td>
					<td th:text="${place.address}"></td>
					<td th:text="${place.cc}"></td>
					<td th:text="${place.city}"></td>
					<td th:text="${place.country}"></td>
					<td th:text="${place.postalCode}"></td>
					<td th:text="${place.province}"></td>
					<td th:text="${place.idFoursquare}"></td>
					<td th:text="${place.categoryName}"></td>
					<td th:text="${place.categoryIcon}"></td>
					<td th:text="${place.verified}"></td>
					<td><button th:id="'edit-row' + ${place.id}"
							class="table-remove glyphicon glyphicon-pencil"
							th:onclick="'openModalEdit(\'' + ${place.id} + '\',\'' + 'foursquare' + '\',\'' + place + '\');'"
						></button>
						<button th:id="'delete-row' + ${place.id}"
							class="table-remove glyphicon glyphicon-remove"
							th:onclick="'openModalDelete(\'' + ${place.id} + '\',\'' + 'foursquare' + '\',\'' + place + '\')'"
						></button></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="links">
		<button th:disabled="${index} <= 1" class="buttonGetNext"
			id="placeListSelectBack"
		>&laquo;</button>
		<input class="index-input" type="text" value="Página " readonly>
		<input class="index-input index-input2" id="place-index" type="text"
			th:attr="value = ${index}" readonly
		>
		<button th:disabled="${isLastPage}" class="buttonGetNext"
			id="placeListSelectPlus"
		>&raquo;</button>
	</div>


	<div class="edit-div" id="place-edit-div" hidden>

		<form class="place-edit-form">
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Id</label> <input id="input-up-place-id" type="text"
						class="form-control" readonly
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Nombre</label> <input id="input-up-place-name" type="text"
						class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Foto</label>
					<textarea rows="4" cols="50" id="input-up-place-photo"
						class="form-control"
					></textarea>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Latitud</label> <input id="input-up-place-lat" type="text"
						class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Longitud</label> <input id="input-up-place-lng" type="text"
						class="form-control"
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Dirección</label> <input id="input-up-place-address" type="text"
						class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>CC</label> <input id="input-up-place-cc"
						type="text" class="form-control"
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Ciudad</label> <input id="input-up-place-city" type="text"
						class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>País</label> <input id="input-up-place-country"
						type="text" class="form-control"
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Código Postal</label> <input id="input-up-place-postalCode" type="text"
						class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Provincia</label> <input id="input-up-place-province"
						type="text" class="form-control"
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Id Foursquare</label> <input id="input-up-place-idFoursquare" type="text"
						class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Categoría</label> <input id="input-up-place-categoryName"
						type="text" class="form-control"
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Icono</label> <input id="input-up-place-categoryIcon" type="text"
						class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Verificado</label> <select id="input-up-place-verified"
						class="form-control"
					>
						<option value="true">True</option>
						<option value="false">False</option>
					</select>
				</div>
			</div>
		
		</form>
	</div>


	<script>
		$("#placeListSelectPlus").on("click", function() {
			var index = $("#place-index").val();
			filterBy("foursquare", "place", index);
		});

		$("#placeListSelectBack").on("click", function() {
			var index = $("#place-index").val() - 2;
			filterBy("foursquare", "place", index);
		});
		
	</script>
</div>








<div th:fragment="category" id="category-frag"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" class="table-wrapper"
>

	<div class="filter-div">

		<div class="row">
			<div class="input-group filter-div-one col-sm-3 col-md-3 col-xs-3">
			</div>
			<div class="input-group filter-div-two col-sm-3 col-md-3 col-xs-3">
			</div>
			<div class="input-group filter-div-three col-sm-1 col-md-1 col-xs-1">
			</div>

			<div class="input-group filter-div-four col-sm-5 col-md-5 col-xs-5">
				<span class="input-group-addon" id="basic-addon1"> <select
					id="category-select-filter"
				>
						<option th:selected="${filterField} == id" value="id">Id</option>
						<option th:selected="${filterField} == name"
							value="name"
						>Nombre</option>
						<option th:selected="${filterField} == pluralName"
							value="name"
						>Nombre Completo</option>
						<option th:selected="${filterField} == iconPrefix"
							value="iconPreffix"
						>Prefijo Icono</option>
						<option th:selected="${filterField} == iconSuffix"
							value="iconSuffix"
						>Sufijo Icono</option>
						<option th:selected="${filterField} == id_foursquare"
							value="id_foursquare"
						>Id Foursquare</option>
				</select></span> <input id="category-input-filter" th:value="${filterValue}"
					type="text" class="form-control" placeholder="Filtro"
					aria-describedby="basic-addon1"
				>
			</div>

		</div>
		<div class="row filter-row2">
			<button class="btn btn-default glyphicon glyphicon-download"
				type="button" onclick="openModalLoadCategories('foursquare', 'category')"
			></button>
			<button id="applyFilterButton" type="button" class="btn btn-default"
				onclick="filterBy('foursquare', 'category', '0')"
			>Aplicar</button>
		</div>

	</div>


	<div class="table" style="overflow: auto;">
		<table id="category-table" class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Nombre</th>
					<th scope="col">Nombre Completo</th>
					<th scope="col">Prefijo Icono</th>
					<th scope="col">Sufijo Icono</th>
					<th scope="col">Id Foursquare</th>
					<th scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody id="category-body">

				<tr th:each="category : ${categories}">
					<th scope="row" th:text="${category.id}"></th>
					<td th:text="${category.name}"></td>
					<td th:text="${category.pluralName}"></td>
					<td th:text="${category.iconPrefix}"></td>
					<td th:text="${category.iconSuffix}"></td>
					<td th:text="${category.id_foursquare}"></td>
					<td><button th:id="'edit-row' + ${category.id}"
							class="table-remove glyphicon glyphicon-pencil"
							th:onclick="'openModalEdit(\'' + ${category.id} + '\',\'' + 'foursquare' + '\',\'' + category + '\');'"
						></button>
						<button th:id="'delete-row' + ${category.id}"
							class="table-remove glyphicon glyphicon-remove"
							th:onclick="'openModalDelete(\'' + ${category.id} + '\',\'' + 'foursquare' + '\',\'' + category + '\')'"
						></button></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="links">
		<button th:disabled="${index} <= 1" class="buttonGetNext"
			id="categoryListSelectBack"
		>&laquo;</button>
		<input class="index-input" type="text" value="Página " readonly>
		<input class="index-input index-input2" id="category-index"
			type="text" th:attr="value = ${index}" readonly
		>
		<button th:disabled="${isLastPage}" class="buttonGetNext"
			id="categoryListSelectPlus"
		>&raquo;</button>
	</div>


	<div class="edit-div" id="category-edit-div" hidden>

		<form class="category-edit-form">
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Id</label> <input id="input-up-category-id"
						type="text" class="form-control" readonly
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Nombre</label> <input id="input-up-category-name" type="text"
						class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Nombre Completo</label> <input
						id="input-up-category-pluralName" class="form-control" type="text"
					></input>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Prefijo Icono</label> <input id="input-up-category-iconPrefix" type="text"
						class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Sufijo Icono</label> <input
						id="input-up-category-iconSuffix" class="form-control" type="text"
					></input>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Id Foursquare</label> <input id="input-up-category-id_foursquare" type="text"
						class="form-control" readonly
					>
				</div>
			</div>
		</form>
	</div>


	<script>
		$("#categoryListSelectPlus").on("click", function() {
			var index = $("#category-index").val();
			filterBy("foursquare", "category", index);
		});

		$("#categoryListSelectBack").on("click", function() {
			var index = $("#category-index").val() - 2;
			filterBy("foursquare", "category", index);
		});

		
		var openModalLoadCategories = function(group, entity) {
			bootbox
			.confirm(
					"Are you sure want to reload all categories and subcategories from external source?",
					function(result) {
						if (result) {
							$
									.ajax({
										type : "POST",
										url : "/admin/panel/foursquare/ajax/category/load",
										contentType : "application/json",
										success : function(result) {
											resetFilter("category");
											bootbox
													.alert({
														message : "Categories has been realoaded correctly"
													});
										},
										error : function(error) {
											bootbox
													.alert({
														message : "An error occurred while getting categories"
													});
										}
									});
						} else {

						}
					});
		}
	</script>
</div>







<div th:fragment="subcategory" id="subcategory-frag"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" class="table-wrapper"
>
	<div class="filter-div">

		<div class="row">
			<div class="input-group filter-div-one col-sm-3 col-md-3 col-xs-3">
				<span class="input-group-addon" id="basic-addon1">Categoría</span> <input
					id="subcategory-input-field1" th:value="${categoryValue}" type="number"
					class="form-control" placeholder="Value"
					aria-describedby="basic-addon1"
				>
			</div>
			<div class="input-group filter-div-two col-sm-3 col-md-3 col-xs-3">
			</div>
			<div class="input-group filter-div-three col-sm-1 col-md-1 col-xs-1">
			</div>

			<div class="input-group filter-div-four col-sm-5 col-md-5 col-xs-5">
				<span class="input-group-addon" id="basic-addon1"> <select
					id="subcategory-select-filter"
				>
						<option th:selected="${filterField} == id" value="id">Id</option>
						<option th:selected="${filterField} == name"
							value="name"
						>Nombre</option>
						<option th:selected="${filterField} == pluralName"
							value="name"
						>Nombre Completo</option>
						<option th:selected="${filterField} == iconPrefix"
							value="iconPreffix"
						>Prefijo Icono</option>
						<option th:selected="${filterField} == iconSuffix"
							value="iconSuffix"
						>Sufijo Icono</option>
						<option th:selected="${filterField} == id_foursquare"
							value="id_foursquare"
						>Id Foursquare</option>
				</select></span> <input id="subcategory-input-filter" th:value="${filterValue}"
					type="text" class="form-control" placeholder="Filter"
					aria-describedby="basic-addon1"
				>
			</div>

		</div>
		<div class="row filter-row2">
			<button id="applyFilterButton" type="button" class="btn btn-default"
				onclick="filterBy('foursquare', 'subcategory', '0')"
			>Aplicar</button>
		</div>

	</div>


	<div class="table" style="overflow: auto;">
		<table id="subcategory-table" class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Categoría</th>
					<th scope="col">Nombre</th>
					<th scope="col">Nombre Completo</th>
					<th scope="col">Prefijo Icono</th>
					<th scope="col">Sufijo Icono</th>
					<th scope="col">Id Foursquare</th>
					<th scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody id="subcategory-body">

				<tr th:each="subcategory : ${subcategories}">
					<th scope="row" th:text="${subcategory.id}"></th>
					<td th:text="${subcategory.idCategory}"></td>
					<td th:text="${subcategory.name}"></td>
					<td th:text="${subcategory.pluralName}"></td>
					<td th:text="${subcategory.iconPrefix}"></td>
					<td th:text="${subcategory.iconSuffix}"></td>
					<td th:text="${subcategory.id_foursquare}"></td>
					<td><button th:id="'edit-row' + ${subcategory.id}"
							class="table-remove glyphicon glyphicon-pencil"
							th:onclick="'openModalEdit(\'' + ${subcategory.id} + '\',\'' + 'foursquare' + '\',\'' + subcategory + '\');'"
						></button>
						<button th:id="'delete-row' + ${subcategory.id}"
							class="table-remove glyphicon glyphicon-remove"
							th:onclick="'openModalDelete(\'' + ${subcategory.id} + '\',\'' + 'foursquare' + '\',\'' + subcategory + '\')'"
						></button></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="links">
		<button th:disabled="${index} <= 1" class="buttonGetNext"
			id="subcategoryListSelectBack"
		>&laquo;</button>
		<input class="index-input" type="text" value="Página " readonly>
		<input class="index-input index-input2" id="subcategory-index"
			type="text" th:attr="value = ${index}" readonly
		>
		<button th:disabled="${isLastPage}" class="buttonGetNext"
			id="subcategoryListSelectPlus"
		>&raquo;</button>
	</div>


	<div class="edit-div" id="subcategory-edit-div" hidden>

		<form class="subcategory-edit-form">
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Id</label> <input id="input-up-subcategory-id"
						type="text" class="form-control" readonly
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Nombre</label> <input id="input-up-subcategory-name" type="text"
						class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Nombre Completo</label> <input
						id="input-up-subcategory-pluralName" class="form-control" type="text"
					></input>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Icon Prefix</label> <input id="input-up-category-iconPrefix" type="text"
						class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Sufijo Icono</label> <input
						id="input-up-subcategory-iconSuffix" class="form-control" type="text"
					></input>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Id Foursquare</label> <input id="input-up-subcategory-id_foursquare" type="text"
						class="form-control" readonly
					>
				</div>
				<div class="col-md-6">
					<label>Categoría</label> <input id="input-up-subcategory-idCategory" type="text"
						class="form-control" readonly
					>
				</div>
			</div>
		</form>
	</div>


	<script>
		$("#subcategoryListSelectPlus").on("click", function() {
			var index = $("#subcategory-index").val();
			filterBy("foursquare", "subcategory", index);
		});

		$("#subcategoryListSelectBack").on("click", function() {
			var index = $("#subcategory-index").val() - 2;
			filterBy("foursquare", "subcategory", index);
		});
	</script>
</div>