<div th:fragment="users" id="users-frag"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" class="table-wrapper"
>
	<input class="input-filter" type="search" id="user-search"
		placeholder="Filtro"
	>
	<div class="table" style="overflow: auto;">
		<table id="user-table" class="table">
			<thead>
				<tr>
					<th>No</th>
					<th>Username</th>
					<th>Password</th>
					<th>Email</th>
					<th>Role</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody id="users-body">

				<tr th:each="user : ${content}">
					<td th:text="${user.id}"></td>
					<td th:text="${user.username}"></td>
					<td th:text="${user.password}"></td>
					<td th:text="${user.email}"></td>
					<td th:text="${user.role}"></td>
					<td><span th:id="'edit-row' + ${user.id}"
						class="table-remove glyphicon glyphicon-remove"
					></span></td>
				</tr>
			</tbody>
		</table>

	</div>
	<div class="links">
		<button th:disabled="${index} <= 1" class="buttonGetNext">&laquo;</button>
		<input class="index-input" type="text" value="Página " readonly>
		<input class="index-input index-input2" type="text"
			th:attr="value = ${index}" readonly
		>
		<button th:disabled="${isLastPage}" class="buttonGetNext">&raquo;</button>
	</div>

	<script>
		/*<![CDATA[*/

		$("#user-search").keyup(function() {

			//split the current value of searchInput
			var data = this.value.split(" ");
			//create a jquery object of the rows
			var jo = $("#users-body").find("tr");
			if (this.value == "") {
				jo.show();
				return;
			}
			//hide all the rows
			jo.hide();

			//Recusively filter the jquery object to get results.
			jo.filter(function(i, v) {
				var $t = $(this);
				for (var d = 0; d < data.length; ++d) {
					if ($t.is(":contains('" + data[d] + "')")) {
						return true;
					}
				}
				return false;
			})
			//show the rows that match.
			.show();
		});
		/*]]>*/
	</script>
</div>





<div th:fragment="routes" id="routes-frag"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" class="table-wrapper"
>


	<div class="filter-div">
		<select id="route-select-filter">
			<option th:selected="${filterField} == id" value="id">Id</option>
			<option th:selected="${filterField} == name" value="name">Name</option>
			<option th:selected="${filterField} == photo" value="photo">Photo</option>
			<option th:selected="${filterField} == lat" value="lat">Lat</option>
			<option th:selected="${filterField} == lng" value="lng">Lng</option>
			<option th:selected="${filterField} == city" value="city">City</option>
			<option th:selected="${filterField} == country" value="country">Country</option>
			<option th:selected="${filterField} == state" value="state">State</option>
			<option th:selected="${filterField} == creationDate"
				value="creationDate"
			>Creation Date</option>
			<option th:selected="${filterField} == startDate" value="startDate">Start Date</option>
			<option th:selected="${filterField} == endDate" value="endDate">End Date</option>
			<option th:selected="${filterField} == numDays" value="numDays">Num. Days</option>
			<option th:selected="${filterField} == numPlaces" value="numPlaces">Num. Places</option>
			<option th:selected="${filterField} == distance" value="distance">Distance</option>
			<option th:selected="${filterField} == time" value="time">Time</option>
			<option th:selected="${filterField} == private" value="private">Private</option>
		</select> <input th:value="${filterValue}" id="route-input-filter">
		<button onclick="filterBy('route')">Apply</button>
		<button onclick="resetFilter('route')">Clear</button>
	</div>

	<div class="table" style="overflow: auto;">
		<table id="route-table" class="table">
			<thead>
				<tr>
					<th>No</th>
					<th>Name</th>
					<th>Photo</th>
					<th>Lat</th>
					<th>Lng</th>
					<th>City</th>
					<th>Country</th>
					<th>State</th>
					<th>Creation Date</th>
					<th>Start Date</th>
					<th>End Date</th>
					<th>Num. Days</th>
					<th>Num. Places</th>
					<th>Distance</th>
					<th>Time</th>
					<th>Private</th>
					<th>UserId</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody id="routes-body">

				<tr th:each="route : ${content}">
					<td th:text="${route.id}"></td>
					<td th:text="${route.name}"></td>
					<td th:text="${route.photo}"></td>
					<td th:text="${route.lat}"></td>
					<td th:text="${route.lng}"></td>
					<td th:text="${route.city}"></td>
					<td th:text="${route.country}"></td>
					<td th:text="${route.state}"></td>
					<td th:text="${route.creationDate}"></td>
					<td th:text="${route.startDate}"></td>
					<td th:text="${route.endDate}"></td>
					<td th:text="${route.numDays}"></td>
					<td th:text="${route.numPlaces}"></td>
					<td th:text="${route.distance}"></td>
					<td th:text="${route.time}"></td>
					<td th:text="${route.priv}"></td>
					<td th:text="${route.userId}"></td>
					<td><button th:id="'edit-row' + ${route.id}"
							class="table-remove glyphicon glyphicon-pencil"
							th:onclick="'openModalEdit(\'' + ${route.id} + '\',\'' + 'route' + '\');'"
						></button>
						<button th:id="'delete-row' + ${route.id}"
							class="table-remove glyphicon glyphicon-remove"
							th:onclick="'openModalDelete(\'' + ${route.id} + '\',\'' + 'route' + '\')'"
						></button></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="links">
		<button th:disabled="${index} <= 1" class="buttonGetNext"
			id="routeListSelectBack"
		>&laquo;</button>
		<input class="index-input" type="text" value="Página " readonly>
		<input class="index-input index-input2" id="route-index" type="text"
			th:attr="value = ${index}" readonly
		>
		<button th:disabled="${isLastPage}" class="buttonGetNext"
			id="routeListSelectPlus"
		>&raquo;</button>
	</div>


	<div class="edit-div" id="route-edit-div" hidden>

		<form class="route-edit-form">
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Id</label>
					<input id="input-up-route-id" type="text" class="form-control" readonly>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Photo</label>
					<input id="input-up-route-photo" type="text" class="form-control">
				</div>
				<div class="col-md-6">
				<label>Lat</label>
					<input id="input-up-route-lat" type="text" class="form-control">
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
				<label>Lng</label>
					<input id="input-up-route-lng" type="text" class="form-control">
				</div>
				<div class="col-md-6">
				<label>City</label>
					<input id="input-up-route-city" type="text" class="form-control">
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Country</label>
					<input id="input-up-route-country" type="text" class="form-control">
				</div>
				<div class="col-md-6">
					<label>State</label>
					<select id="input-up-route-state" class="form-control" disabled="true">
						<option value="PENDIENTE">Pendiente</option>
						<option value="EN_CURSO">En curso</option>
						<option value="REALIZADA">Realizada</option>
					</select>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
				<label>Creation Date</label>
					<input id="input-up-route-creationDate" type="text" class="form-control">
				</div>
				<div class="col-md-6">
				<label>Start Date</label>
					<input id="input-up-route-startDate" type="text" class="form-control">
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
				<label>End Date</label>
					<input id="input-up-route-endDate" type="text" class="form-control">
				</div>
				<div class="col-md-6">
				<label>Num Days</label>
					<input id="input-up-route-numDays" type="text" class="form-control" readonly>
				</div>
			</div>
			
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
				<label>Num Places</label>
					<input id="input-up-route-numPlaces" type="text" class="form-control" readonly>
				</div>
				<div class="col-md-6">
				<label>Distance</label>
					<input id="input-up-route-distance" type="text" class="form-control" readonly>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
				<label>Time</label>
					<input id="input-up-route-time" type="text" class="form-control" readonly>
				</div>
				<div class="col-md-6">
				<label>Private</label>
				<select id="input-up-route-priv" class="form-control">
					<option value="true">True</option>
					<option value="false">False</option>
				</select>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
				<label>UserId</label>
					<input id="input-up-route-userId" type="text" class="form-control">
				</div>
			</div>
		</form>
	</div>

	<script>
		/*<![CDATA[*/

		$("#routeListSelectPlus").on(
				"click",
				function() {
					$("#routeLoader").show();
					$("#route-table").hide();
					var index = $("#route-index").val();
					$("#routeContent").load(
							"/admin/panel/ajax/route?index="
									+ encodeURIComponent(index), function() {
								$("#routeLoader").hide();
								$("#route-table").show();
							});
				});

		$("#routeListSelectBack").on(
				"click",
				function() {
					var index = $("#route-index").val() - 2;
					$("#routeLoader").show();
					$("#route-table").hide();
					$("#routeContent").load(
							"/admin/panel/ajax/route?index="
									+ encodeURIComponent(index), function() {
								$("#routeLoader").hide();
								$("#route-table").show();
							});
				});

		var routeListRefresh = function() {
			var index = $("#route-index").val() - 1;
			$("#routeLoader").show();
			$("#route-table").hide();
			$("#routeContent").load(
					"/admin/panel/ajax/route?index="
							+ encodeURIComponent(index), function() {
						$("#routeLoader").hide();
						$("#route-table").show();
					});
		};

		

		// 		$("#route-search").keyup(function() {

		// 			var headers = [ "ID", "USERNAME", "PASSWORD", "EMAIL", "ROLE" ];
		// 			var val = $("#route-search").val();
		// 			var myString1 = val.substr(0, val.indexOf(":")).toUpperCase();
		// 			var myString2 = val.substr(val.indexOf(":") + 1).toUpperCase();
		// 			var index = headers.indexOf(myString1);

		// 			table = document.getElementById("route-table");
		// 			tr = table.getElementsByTagName("tr");

		// 			for (i = 0; i < tr.length; i++) {
		// 				td = tr[i].getElementsByTagName("td")[index];
		// 				if (td) {
		// 					if (td.innerHTML.toUpperCase().indexOf(myString2) > -1) {
		// 						tr[i].style.display = "";
		// 					} else {
		// 						tr[i].style.display = "none";
		// 					}
		// 				}

		// 			}
		// 		});
		/*]]>*/
	</script>
</div>



