<div th:fragment="event" id="events-frag"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" class="table-wrapper"
>


	<div class="filter-div">

		<div class="row">
			<div class="input-group filter-div-one col-sm-3 col-md-3 col-xs-3">

			</div>
			<div class="input-group filter-div-two col-sm-3 col-md-3 col-xs-3">

			</div>
			<div class="input-group filter-div-three col-sm-1 col-md-1 col-xs-1">
			</div>

			<div class="input-group filter-div-four col-sm-5 col-md-5 col-xs-5">
				<span class="input-group-addon" id="basic-addon1"> <select
					class="custom-select" id="event-select-filter"
				>
						<option th:selected="${filterField} == id" value="id">Id</option>
						<option th:selected="${filterField} == name" value="name">Name</option>
						<option th:selected="${filterField} == description"
							value="description"
						>Description</option>
						<option th:selected="${filterField} == city" value="city">City</option>
						<option th:selected="${filterField} == startDate"
							value="startDate"
						>Start Date</option>
						<option th:selected="${filterField} == endDate" value="endDate">End Date</option>
				</select></span> <input th:value="${filterValue}" id="event-input-filter"
					type="text" class="form-control" placeholder="Filter"
					aria-describedby="basic-addon1"
				>
			</div>

		</div>
		<div class="row filter-row2">
			<button class="btn btn-default glyphicon glyphicon-plus"
				type="button" onclick="openModalAdd('events', 'event')"
			></button>
			<button id="applyFilterButton" type="button" class="btn btn-default"
				onclick="filterBy('events', 'event', '0')"
			>Apply</button>
		</div>

	</div>

	<div class="table" style="overflow: auto;">
		<table id="event-table" class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Name</th>
					<th scope="col">Description</th>
					<th scope="col">City</th>
					<th scope="col">StartDate</th>
					<th scope="col">EndDate</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody id="events-body">

				<tr th:each="event : ${events}">
					<th scope="row" th:text="${event.id}"></th>
					<td th:text="${event.name}"></td>
					<td th:text="${event.description}"></td>
					<td th:text="${event.city}"></td>
					<td th:text="${event.startDate}"></td>
					<td th:text="${event.endDate}"></td>
					<td><button th:id="'edit-row' + ${event.id}"
							class="table-remove glyphicon glyphicon-pencil"
							th:onclick="'openModalEdit(\'' + ${event.id} + '\',\'' + 'events' + '\',\'' + event + '\');'"
						></button>
						<button th:id="'delete-row' + ${event.id}"
							class="table-remove glyphicon glyphicon-remove"
							th:onclick="'openModalDelete(\'' + ${event.id} + '\',\'' + 'events' + '\',\'' + event + '\')'"
						></button></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="links">
		<button th:disabled="${index} <= 1" class="buttonGetNext"
			id="eventListSelectBack"
		>&laquo;</button>
		<input class="index-input" type="text" value="Página " readonly>
		<input class="index-input index-input2" id="event-index" type="text"
			th:attr="value = ${index}" readonly
		>
		<button th:disabled="${isLastPage}" class="buttonGetNext"
			id="eventListSelectPlus"
		>&raquo;</button>
	</div>


	<div class="edit-div" id="event-edit-div" hidden>

		<form class="event-edit-form">
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Id</label> <input id="input-up-event-id" type="text"
						class="form-control" readonly
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Name</label> <input id="input-up-event-name" type="text"
						class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Description</label>
					<textarea rows="4" cols="50" id="input-up-event-description"
						class="form-control"
					></textarea>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>City</label> <input id="input-up-event-city" type="text"
						class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Start Date</label> <input id="input-up-event-startDate"
						type="date" class="form-control"
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>End Date</label> <input id="input-up-event-endDate"
						type="date" class="form-control"
					>
				</div>
			</div>
		</form>
	</div>

	<div class="add-div" id="event-add-div" hidden>

		<form class="event-add-form">
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Add event</label>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Name</label> <input id="input-add-event-name" type="text"
						class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Description</label>
					<textarea rows="4" cols="50" id="input-add-event-description"
						class="form-control"
					></textarea>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>City</label> <input id="input-add-event-city" type="text"
						class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Start Date</label> <input type="date"
						id="input-add-event-startDate" class="form-control"
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>End Date</label> <input type="date"
						id="input-add-event-endDate" class="form-control"
					>
				</div>
			</div>
		</form>
	</div>

	<script>
		$("#eventListSelectPlus").on("click", function() {
			var index = $("#event-index").val();
			filterBy("events", "event", index);
		});

		$("#eventListSelectBack").on("click", function() {
			var index = $("#event-index").val() - 2;
			filterBy("events", "event", index);
		});
	</script>
</div>




<div th:fragment="eventday" id="eventday-frag"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" class="table-wrapper"
>

	<div class="filter-div">

		<div class="row">
			<div class="input-group filter-div-one col-sm-3 col-md-3 col-xs-3">
				<span class="input-group-addon" id="basic-addon1">place</span> <input
					id="eventday-input-field1" th:value="${eventValue}" type="number"
					class="form-control" aria-describedby="basic-addon1"
				>
			</div>
			<div class="input-group filter-div-two col-sm-3 col-md-3 col-xs-3">
				<span class="input-group-addon" id="basic-addon1">day</span> <input
					id="eventday-input-field2" th:value="${eventDayValue}"
					type="number" class="form-control" aria-describedby="basic-addon1"
				>
			</div>
			<div class="input-group filter-div-three col-sm-1 col-md-1 col-xs-1">
			</div>

			<div class="input-group filter-div-four col-sm-5 col-md-5 col-xs-5">
				<span class="input-group-addon" id="basic-addon1"> <select
					id="eventday-select-filter"
				>
						<option th:selected="${filterField} == date" value="date">Date</option>
						<option th:selected="${filterField} == numEvPlaces"
							value="numEvPlaces"
						>Num place Places</option>
				</select></span> <input id="eventday-input-filter" th:value="${filterValue}"
					type="text" class="form-control" placeholder="Filter"
					aria-describedby="basic-addon1"
				>
			</div>

		</div>
		<div class="row filter-row2">
			<button class="btn btn-default glyphicon glyphicon-plus"
				type="button" onclick="openModalAdd('events', 'eventday')"
			></button>
			<button id="applyFilterButton" type="button" class="btn btn-default"
				onclick="filterBy('events', 'eventday', '0')"
			>Apply</button>
		</div>

	</div>


	<div class="table" style="overflow: auto;">
		<table id="eventday-table" class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Event</th>
					<th scope="col">Day</th>
					<th scope="col">Date</th>
					<th scope="col">Num Event Places</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody id="eventday-body">

				<tr th:each="eventday : ${eventDays}">
					<th scope="row" th:text="${eventday.idEvent}"></th>
					<td scope="row" th:text="${eventday.idDay}"></td>
					<td th:text="${eventday.date}"></td>
					<td th:text="${eventday.numEvPlaces}"></td>
					<td><button
							th:id="'edit-row' + ${eventday.idEvent} + '-' + ${eventday.idDay}"
							class="table-remove glyphicon glyphicon-pencil"
							th:onclick="'openModalEditED(\'' + ${eventday.idEvent} + '\',\'' + ${eventday.idDay} + '\')'"
						></button>
						<button
							th:id="'edit2-row' + ${eventday.idEvent} + '-' + ${eventday.idDay}"
							class="table-remove glyphicon glyphicon-remove"
							th:onclick="'openModalEventDayDelete(\'' + ${eventday.idEvent} + '\',\'' + ${eventday.idDay} + '\')'"
						></button></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="links">
		<button th:disabled="${index} <= 1" class="buttonGetNext"
			id="eventdayListSelectBack"
		>&laquo;</button>
		<input class="index-input" type="text" value="Página " readonly>
		<input class="index-input index-input2" id="eventday-index"
			type="text" th:attr="value = ${index}" readonly
		>
		<button th:disabled="${isLastPage}" class="buttonGetNext"
			id="eventdayListSelectPlus"
		>&raquo;</button>
	</div>


	<div class="edit-div" id="eventday-edit-div" hidden>

		<form class="eventday-edit-form">
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>IdEvent</label> <input id="input-up-eventday-idEvent"
						type="text" class="form-control" readonly
					>
				</div>
				<div class="col-md-6">
					<label>IdDay</label> <input id="input-up-eventday-idDay"
						type="text" class="form-control" readonly
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Date</label> <input id="input-up-eventday-date" type="date"
						class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Num. Event Places</label> <input
						id="input-up-eventday-numEvPlaces" class="form-control"
					></input>
				</div>
			</div>
		</form>
	</div>

	<div class="add-div" id="eventday-add-div" hidden>

		<form class="eventday-add-form">
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Add Day</label>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Event</label> <input id="input-add-eventday-idEvent"
						type="number" class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Date</label> <input type="date" id="input-add-eventday-date"
						class="form-control"
					></input>
				</div>
			</div>
		</form>
	</div>

	<script>
		$("#eventdayListSelectPlus").on("click", function() {
			var index = $("#eventday-index").val();
			filterBy("events", "eventday", index);
		});

		$("#eventdayListSelectBack").on("click", function() {
			var index = $("#eventday-index").val() - 2;
			filterBy("events", "eventday", index);
		});

		function openModalAdd(group, entity) {
			var object = {};
			var keys = [ "idEvent", "date", "numEvPlaces" ];
			var bootboxText = "#" + entity + "-add-div";
			var bootboxForm = entity + "-add-form";
			var bootboxHtml = $(bootboxText).html().replace(bootboxForm,
					'js-bootboxForm');
			bootbox
					.confirm(
							bootboxHtml,
							function(result) {
								if (result) {
									var eventText = "#input-add-eventday-idEvent";
									var eventId = $(eventText,
											'.js-bootboxForm').val();
									for (variable in keys) {
										var text = "#input-add-" + entity + "-"
												+ keys[variable];
										object[keys[variable]] = $(text,
												'.js-bootboxForm').val();
									}
									console.log(object);
									// hacer peti update
									$
											.ajax({
												type : "POST",
												url : "/admin/panel/" + group
														+ "/ajax/" + entity
														+ "/" + eventId,
												contentType : "application/json",
												data : JSON.stringify(object),
												success : function(done) {
													resetFilter(entity);
													bootbox
															.alert({
																message : "Entity has been added correctly",
																backdrop : true
															});
												},
												error : function(err) {
													bootbox
															.alert({
																message : "An error occurred while adding the indicated entity. Try it again."
															});
												}
											});
								}
							});
		}

		var openModalEditED = function(idEvent, idDay) {
			$
					.ajax({
						type : "GET",
						url : "/admin/panel/events/ajax/object/eventday/"
								+ idEvent + "/" + idDay,
						contentType : "application/json",
						success : function(object) {

							var keys = Object.keys(object);
							for (variable in keys) {
								var text = "#input-up-eventday-"
										+ keys[variable];
								if ($(text).is("input")) {
									if ($(text).attr("type") == "date") {
										console.log(object[keys[variable]]);
										if (object[keys[variable]] != null) {
											var date = new Date(
													object[keys[variable]]);
											$(text).attr(
													'value',
													moment(date).format(
															'YYYY-MM-DD'));
										}
									} else {
										$(text).attr('value',
												object[keys[variable]]);
									}
								}
								if ($(text).is("select")) {
									$(
											text + " option[value='"
													+ object[keys[variable]]
													+ "']").attr('selected',
											true);
								}
								if ($(text).is("textarea")) {
									$(text).text(object[keys[variable]]);
								}
							}
							var bootboxText = "#eventday-edit-div";
							var bootboxForm = "eventday-edit-form";
							var bootboxHtml = $(bootboxText).html().replace(
									bootboxForm, 'js-bootboxForm');
							bootbox
									.confirm(
											bootboxHtml,
											function(result) {
												if (result) {
													for (variable in keys) {
														var text = "#input-up-eventday-"
																+ keys[variable];
														object[keys[variable]] = $(
																text,
																'.js-bootboxForm')
																.val();
													}
													// hacer peti update
													$
															.ajax({
																type : "PUT",
																url : "/admin/panel/events/ajax/eventday/"
																		+ idEvent
																		+ "/"
																		+ idDay,
																contentType : "application/json",
																data : JSON
																		.stringify(object),
																success : function(
																		done) {
																	resetFilter("eventday");
																	bootbox
																			.alert({
																				message : "Entity has been modified correctly",
																				backdrop : true
																			});
																},
																error : function(
																		err) {
																	bootbox
																			.alert({
																				message : "An error occurred while updating the indicated entity. Try it again."
																			});
																}
															});
												}
											});
						}
					});

		}
	</script>
</div>







<div th:fragment="eventplace" id="eventplace-frag"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" class="table-wrapper"
>
	<div class="filter-div">

		<div class="row">
			<div class="input-group filter-div-one col-sm-3 col-md-3 col-xs-3">
				<span class="input-group-addon" id="basic-addon1">Event</span> <input
					id="eventplace-input-field1" th:value="${eventValue}" type="text"
					class="form-control" placeholder="Value"
					aria-describedby="basic-addon1"
				>
			</div>
			<div class="input-group filter-div-two col-sm-3 col-md-3 col-xs-3">
				<span class="input-group-addon" id="basic-addon1">Day</span> <input
					id="eventplace-input-field2" th:value="${dayValue}" type="text"
					class="form-control" placeholder="Value"
					aria-describedby="basic-addon1"
				>
			</div>
			<div class="input-group filter-div-three col-sm-1 col-md-1 col-xs-1">
			</div>

			<div class="input-group filter-div-four col-sm-5 col-md-5 col-xs-5">
				<span class="input-group-addon" id="basic-addon1"> <select
					id="eventplace-select-filter"
				>
						<option th:selected="${filterField} == id" value="id">Id</option>
						<option th:selected="${filterField} == name" value="name">Name</option>
						<option th:selected="${filterField} == description"
							value="description"
						>Description</option>
						<option th:selected="${filterField} == lat" value="lat">Lat</option>
						<option th:selected="${filterField} == lng" value="lng">Lng</option>
						<option th:selected="${filterField} == address" value="address">Address</option>
				</select></span> <input id="eventplace-input-filter" th:value="${filterValue}"
					type="text" class="form-control" placeholder="Filter"
					aria-describedby="basic-addon1"
				>
			</div>

		</div>
		<div class="row filter-row2">
			<button class="btn btn-default glyphicon glyphicon-plus"
				type="button" onclick="openModalAdd('events', 'eventplace')"
			></button>
			<button id="applyFilterButton" type="button" class="btn btn-default"
				onclick="filterBy('events', 'eventplace', '0')"
			>Apply</button>
		</div>

	</div>


	<div class="table" style="overflow: auto;">
		<table id="eventplace-table" class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Event</th>
					<th scope="col">Day</th>
					<th scope="col">Name</th>
					<th scope="col">Description</th>
					<th scope="col">Lat</th>
					<th scope="col">Lng</th>
					<th scope="col">Address</th>
					<th scope="col">Start Hour</th>
					<th scope="col">End Hour</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody id="eventplace-body">

				<tr th:each="eventplace : ${eventplaces}">
					<th scope="row" th:text="${eventplace.id}"></th>
					<td th:text="${eventplace.idEvent}"></td>
					<td th:text="${eventplace.idDay}"></td>
					<td th:text="${eventplace.name}"></td>
					<td th:text="${eventplace.description}"></td>
					<td th:text="${eventplace.lat}"></td>
					<td th:text="${eventplace.lng}"></td>
					<td th:text="${eventplace.address}"></td>
					<td th:text="${eventplace.startHour}"></td>
					<td th:text="${eventplace.endHour}"></td>
					<td><button th:id="'edit-row' + ${eventplace.id}"
							class="table-remove glyphicon glyphicon-pencil"
							th:onclick="'openModalEdit(\'' + ${eventplace.id} + '\',\'' + 'events' + '\',\'' + eventplace + '\');'"
						></button>
						<button th:id="'delete-row' + ${eventplace.id}"
							class="table-remove glyphicon glyphicon-remove"
							th:onclick="'openModalDelete(\'' + ${eventplace.id} + '\',\'' + 'events' + '\',\'' + eventplace + '\')'"
						></button></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="links">
		<button th:disabled="${index} <= 1" class="buttonGetNext"
			id="eventplaceListSelectBack"
		>&laquo;</button>
		<input class="index-input" type="text" value="Página " readonly>
		<input class="index-input index-input2" id="eventplace-index"
			type="text" th:attr="value = ${index}" readonly
		>
		<button th:disabled="${isLastPage}" class="buttonGetNext"
			id="eventplaceListSelectPlus"
		>&raquo;</button>
	</div>


	<div class="edit-div" id="eventplace-edit-div" hidden>

		<form class="eventplace-edit-form">
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Eventplace</label> <input id="input-up-eventplace-id"
						type="text" class="form-control" readonly
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Event</label> <input id="input-up-eventplace-idEvent"
						type="text" class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Day</label> <input id="input-up-eventplace-idDay"
						type="text" class="form-control"
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Name</label> <input id="input-up-eventplace-name"
						type="text" class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Description</label> <input
						id="input-up-eventplace-description" type="text"
						class="form-control"
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Lat</label> <input id="input-up-eventplace-lat" type="text"
						class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Lng</label> <input id="input-up-eventplace-lng" type="text"
						class="form-control"
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Address</label> <input id="input-up-eventplace-address"
						type="text" class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Start Hour</label> <input id="input-up-eventplace-startHour"
						type="time" class="form-control"
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>End Hour</label> <input id="input-up-eventplace-endHour"
						type="time" class="form-control"
					>
				</div>
			</div>
		</form>
	</div>

	<div class="add-div" id="eventplace-add-div" hidden>

		<form class="eventplace-add-form">
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Eventplace</label> <input id="input-add-eventplace-id"
						type="text" class="form-control" readonly
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>place</label> <input id="input-add-eventplace-idEvent"
						type="text" class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Day</label> <input id="input-add-eventplace-idDay"
						type="text" class="form-control"
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Name</label> <input id="input-add-eventplace-name"
						type="text" class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Description</label> <input
						id="input-add-eventplace-description" type="text"
						class="form-control"
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Lat</label> <input id="input-add-eventplace-lat" type="text"
						class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Lng</label> <input id="input-add-eventplace-lng" type="text"
						class="form-control"
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Address</label> <input id="input-add-eventplace-address"
						type="text" class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Start Hour</label> <input
						id="input-add-eventplace-startHour" type="time"
						class="form-control"
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>End Hour</label> <input id="input-add-eventplace-endHour"
						type="time" class="form-control"
					>
				</div>
			</div>
		</form>
	</div>

	<script>
		$("#eventplaceListSelectPlus").on("click", function() {
			var index = $("#eventplace-index").val();
			filterBy("events", "eventplace", index);
		});

		$("#eventplaceListSelectBack").on("click", function() {
			var index = $("#eventplace-index").val() - 2;
			filterBy("events", "eventplace", index);
		});
	</script>
</div>