<div th:fragment="route" id="routes-frag"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" class="table-wrapper"
>


	<div class="filter-div">

		<div class="row">
			<div class="input-group filter-div-one col-sm-3 col-md-3 col-xs-3">
				<span class="input-group-addon" id="basic-addon1">Usuario</span> <input
					id="route-input-field1" th:value="${userValue}" type="number"
					class="form-control"
					aria-describedby="basic-addon1"
				>
			</div>
			<div class="input-group filter-div-two col-sm-3 col-md-3 col-xs-3">

			</div>
			<div class="input-group filter-div-three col-sm-1 col-md-1 col-xs-1">
			</div>

			<div class="input-group filter-div-four col-sm-5 col-md-5 col-xs-5">
				<span class="input-group-addon" id="basic-addon1"> <select
					class="custom-select" id="route-select-filter"
				>
						<option th:selected="${filterField} == id" value="id">Id</option>
						<option th:selected="${filterField} == photo" value="photo">Foto</option>
						<option th:selected="${filterField} == lat" value="lat">Latitud</option>
						<option th:selected="${filterField} == lng" value="lng">Longitud</option>
						<option th:selected="${filterField} == city" value="city">Ciudad</option>
						<option th:selected="${filterField} == country" value="country">País</option>
						<option th:selected="${filterField} == state" value="state">Estado de la Ruta</option>
						<option th:selected="${filterField} == creationDate"
							value="creationDate"
						>Fecha de Creación</option>
						<option th:selected="${filterField} == startDate"
							value="startDate"
						>Fecha de Comienzo</option>
						<option th:selected="${filterField} == endDate" value="endDate">Fecha de Finalización</option>
						<option th:selected="${filterField} == numDays" value="numDays">Número Días</option>
						<option th:selected="${filterField} == numPlaces"
							value="numPlaces"
						>Número Visitas</option>
						<option th:selected="${filterField} == distance" value="distance">Distancia</option>
						<option th:selected="${filterField} == time" value="time">Duración</option>
						<option th:selected="${filterField} == priv" value="priv">Privada</option>
				</select></span> <input th:value="${filterValue}" id="route-input-filter"
					type="text" class="form-control" placeholder="Filtro"
					aria-describedby="basic-addon1"
				>
			</div>

		</div>
		<div class="row filter-row2">
		<button class="btn btn-default glyphicon glyphicon-plus" type="button" onclick="openModalAdd('routes', 'route')"></button>
			<button id="applyFilterButton" type="button" class="btn btn-default"
				onclick="filterBy('routes', 'route', '0')"
			>Aplicar</button>
		</div>

	</div>

	<div class="table" style="overflow: auto;">
		<table id="route-table" class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Foto</th>
					<th scope="col">Latitud</th>
					<th scope="col">Longitud</th>
					<th scope="col">Ciudad</th>
					<th scope="col">País</th>
					<th scope="col">Estado de la Ruta</th>
					<th scope="col">Fecha de Creación</th>
					<th scope="col">Fecha de Comienzo</th>
					<th scope="col">Fecha de Finalización</th>
					<th scope="col">Número Días</th>
					<th scope="col">Número Visitas</th>
					<th scope="col">Distancia</th>
					<th scope="col">Duración</th>
					<th scope="col">Privada</th>
					<th scope="col">Usuario</th>
					<th scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody id="routes-body">

				<tr th:each="route : ${routes}">
					<th scope="row" th:text="${route.id}"></th>
					<td th:text="${route.photo}"></td>
					<td th:text="${route.lat}"></td>
					<td th:text="${route.lng}"></td>
					<td th:text="${route.city}"></td>
					<td th:text="${route.country}"></td>
					<td th:text="${route.state}"></td>
					<td th:text="${route.creationDate}"></td>
					<td th:text="${route.startDate}"></td>
					<td th:text="${route.endDate}"></td>
					<td th:text="${route.numDays}"></td>
					<td th:text="${route.numPlaces}"></td>
					<td th:text="${route.distance}"></td>
					<td th:text="${route.time}"></td>
					<td th:text="${route.priv}"></td>
					<td th:text="${route.userId}"></td>
					<td><button th:id="'edit-row' + ${route.id}"
							class="table-remove glyphicon glyphicon-pencil"
							th:onclick="'openModalEdit(\'' + ${route.id} + '\',\'' + 'routes' + '\',\'' + route + '\');'"
						></button>
						<button th:id="'delete-row' + ${route.id}"
							class="table-remove glyphicon glyphicon-remove"
							th:onclick="'openModalDelete(\'' + ${route.id} + '\',\'' + 'routes' + '\',\'' + route + '\')'"
						></button></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="links">
		<button th:disabled="${index} <= 1" class="buttonGetNext"
			id="routeListSelectBack"
		>&laquo;</button>
		<input class="index-input" type="text" value="Página " readonly>
		<input class="index-input index-input2" id="route-index" type="text"
			th:attr="value = ${index}" readonly
		>
		<button th:disabled="${isLastPage}" class="buttonGetNext"
			id="routeListSelectPlus"
		>&raquo;</button>
	</div>


	<div class="edit-div" id="route-edit-div" hidden>

		<form class="route-edit-form">
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Id</label> <input id="input-up-route-id" type="text"
						class="form-control" readonly
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Foto</label> <input id="input-up-route-photo" type="text"
						class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Latitud</label> <input id="input-up-route-lat" type="text"
						class="form-control"
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Longitud</label> <input id="input-up-route-lng" type="text"
						class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Ciudad</label> <input id="input-up-route-city" type="text"
						class="form-control"
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>País</label> <input id="input-up-route-country"
						type="text" class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Estado de la Ruta</label> <select id="input-up-route-state"
						class="form-control" disabled="true"
					>
						<option value="PENDING">PENDING</option>
						<option value="IN_PROGRESS">IN_PROGRESS</option>
						<option value="COMPLETED">COMPLETED</option>
					</select>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Fecha de Creación</label> <input
						id="input-up-route-creationDate" type="date" class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Fecha de Comienzo</label> <input id="input-up-route-startDate"
						type="date" class="form-control"
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Fecha de Finalización</label> <input id="input-up-route-endDate"
						type="date" class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Número Días</label> <input id="input-up-route-numDays"
						type="text" class="form-control"
					>
				</div>
			</div>

			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Número Visitas</label> <input id="input-up-route-numPlaces"
						type="text" class="form-control" readonly
					>
				</div>
				<div class="col-md-6">
					<label>Distancia</label> <input id="input-up-route-distance"
						type="text" class="form-control" readonly
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Duración</label> <input id="input-up-route-time" type="text"
						class="form-control" readonly
					>
				</div>
				<div class="col-md-6">
					<label>Privada</label> <select id="input-up-route-priv"
						class="form-control"
					>
						<option value="true">True</option>
						<option value="false">False</option>
					</select>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Usuario</label> <input id="input-up-route-userId" type="text"
						class="form-control"
					>
				</div>
			</div>
		</form>
	</div>

	<div class="add-div" id="route-add-div" hidden>

		<form class="route-add-form">
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Añadir Ruta</label> 
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Foto</label> <input id="input-add-route-photo" type="text"
						class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Latitud</label> <input id="input-add-route-lat" type="text"
						class="form-control"
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Longitud</label> <input id="input-add-route-lng" type="text"
						class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Ciudad</label> <input id="input-add-route-city" type="text"
						class="form-control"
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>País</label> <input id="input-add-route-country"
						type="text" class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Fecha de Comienzo</label> <input id="input-add-route-startDate"
						type="date" class="form-control"
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Fecha de Finalización</label> <input id="input-add-route-endDate"
						type="date" class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Privada</label> <select id="input-add-route-priv"
						class="form-control"
					>
						<option value="true">True</option>
						<option value="false">False</option>
					</select>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Usuario</label> <input id="input-add-route-userId" type="text"
						class="form-control"
					>
				</div>
			</div>
		</form>
	</div>

	<script>
		$("#routeListSelectPlus").on("click", function() {
			var index = $("#route-index").val();
			filterBy("routes", "route", index);
		});

		$("#routeListSelectBack").on("click", function() {
			var index = $("#route-index").val() - 2;
			filterBy("routes", "route", index);
		});
	</script>
</div>







<div th:fragment="routeday" id="routeday-frag"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" class="table-wrapper"
>

	<div class="filter-div">

		<div class="row">
			<div class="input-group filter-div-one col-sm-3 col-md-3 col-xs-3">
				<span class="input-group-addon" id="basic-addon1">Ruta</span> <input
					id="routeday-input-field1" th:value="${routeValue}" type="number"
					class="form-control"
					aria-describedby="basic-addon1"
				>
			</div>
			<div class="input-group filter-div-two col-sm-3 col-md-3 col-xs-3">

			</div>
			<div class="input-group filter-div-three col-sm-1 col-md-1 col-xs-1">
			</div>

			<div class="input-group filter-div-four col-sm-5 col-md-5 col-xs-5">
				<span class="input-group-addon" id="basic-addon1"> <select
					id="routeday-select-filter"
				>
						<option th:selected="${filterField} == idDay" value="idDay">Día</option>
						<option th:selected="${filterField} == startTime"
							value="startTime"
						>Hora de Comienzo</option>
						<option th:selected="${filterField} == realTimeData"
							value="realTimeData"
						>Información Tiempo Real</option>
				</select></span> <input id="routeday-input-filter" th:value="${filterValue}"
					type="text" class="form-control" placeholder="Filtro"
					aria-describedby="basic-addon1"
				>
			</div>

		</div>
		<div class="row filter-row2">
		<button class="btn btn-default glyphicon glyphicon-plus" type="button" onclick="openModalAdd('routes', 'routeday')"></button>
			<button id="applyFilterButton" type="button" class="btn btn-default"
				onclick="filterBy('routes', 'routeday', '0')"
			>Aplicar</button>
		</div>

	</div>


	<div class="table" style="overflow: auto;">
		<table id="routeday-table" class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Ruta</th>
					<th scope="col">Día</th>
					<th scope="col">Hora de Comienzo</th>
					<th scope="col">Información Tiempo Real</th>
					<th scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody id="routeday-body">

				<tr th:each="routeDay : ${routeDays}">
					<th scope="row" th:text="${routeDay.idRoute}"></th>
					<td scope="row" th:text="${routeDay.idDay}"></td>
					<td th:text="${routeDay.startTime}"></td>
					<td th:text="${routeDay.realTimeData}"></td>
					<td><button
							th:id="'edit-row' + ${routeDay.idRoute} + '-' + ${routeDay.idDay}"
							class="table-remove glyphicon glyphicon-pencil"
							th:onclick="'openModalEditRD(\'' + ${routeDay.idRoute} + '\',\'' + ${routeDay.idDay} + '\')'"
						></button></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="links">
		<button th:disabled="${index} <= 1" class="buttonGetNext"
			id="routedayListSelectBack"
		>&laquo;</button>
		<input class="index-input" type="text" value="Página " readonly>
		<input class="index-input index-input2" id="routeday-index"
			type="text" th:attr="value = ${index}" readonly
		>
		<button th:disabled="${isLastPage}" class="buttonGetNext"
			id="routedayListSelectPlus"
		>&raquo;</button>
	</div>


	<div class="edit-div" id="routeday-edit-div" hidden>

		<form class="routeday-edit-form">
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Ruta</label> <input id="input-up-routeday-idRoute"
						type="text" class="form-control" readonly
					>
				</div>
				<div class="col-md-6">
					<label>Día</label> <input id="input-up-routeday-idDay"
						type="text" class="form-control" readonly
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Hora de Comienzo</label> <input id="input-up-routeday-startTime"
						type="text" class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Información Tiempo Real</label>
					<textarea rows="4" cols="50" id="input-up-routeday-realTimeData"
						class="form-control"
					></textarea>
				</div>
			</div>
		</form>
	</div>
	
	<div class="add-div" id="routeday-add-div" hidden>

		<form class="routeday-add-form">
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Añadir Día</label> 
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Ruta</label> <input id="input-add-routeday-idRoute"
						type="text" class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Hora de Comienzo</label>
					<textarea rows="4" cols="50" id="input-add-routeday-startTime"
						class="form-control"
					></textarea>
				</div>
			</div>		
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Información Tiempo Real</label>
					<textarea rows="4" cols="50" id="input-add-routeday-realTimeData"
						class="form-control"
					></textarea>
				</div>
			</div>
		</form>
	</div>

	<script>
		$("#routedayListSelectPlus").on("click", function() {
			var index = $("#routeday-index").val();
			filterBy("routes", "routeday", index);
		});

		$("#routedayListSelectBack").on("click", function() {
			var index = $("#routeday-index").val() - 2;
			filterBy("routes", "routeday", index);
		});

		function openModalAdd(group, entity) {
			var object = {};
			var keys = ["idRoute", "startTime", "realTimeData"];
			var bootboxText = "#" + entity + "-add-div";
			var bootboxForm = entity + "-add-form";
			var bootboxHtml = $(bootboxText).html().replace(bootboxForm,
					'js-bootboxForm');
			bootbox
					.confirm(
							bootboxHtml,
							function(result) {
								if (result) {
									var routeText = "#input-add-routeday-idRoute";
									var routeId = $(routeText,
									'.js-bootboxForm').val();
									for (variable in keys) {
										var text = "#input-add-" + entity + "-"
												+ keys[variable];							
										object[keys[variable]] = $(text,
												'.js-bootboxForm').val();
									}
									console.log(object);
									// hacer peti update
									$
											.ajax({
												type : "POST",
												url : "/admin/panel/" + group
														+ "/ajax/" + entity + "/" + routeId,
												contentType : "application/json",
												data : JSON.stringify(object),
												success : function(done) {
													resetFilter(entity);
													bootbox
															.alert({
																message : "Entidad añadida correctamente.",
																backdrop : true
															});
												},
												error : function(err) {
													bootbox
															.alert({
																message : "Se ha producido un error intentado añadir la entidad. Intentelo de nuevo."
															});
												}
											});
								}
							});
		}
		
		var openModalEditRD = function(idRoute, idDay) {
			$
					.ajax({
						type : "GET",
						url : "/admin/panel/routes/ajax/object/routeday/"
								+ idRoute + "/" + idDay,
						contentType : "application/json",
						success : function(object) {

							var keys = Object.keys(object);
							console.log(keys);
							for (variable in keys) {
								var text = "#input-up-routeday-"
										+ keys[variable];
								if ($(text).is("input")) {
									$(text).attr('value',
											object[keys[variable]]);
								}
								if ($(text).is("select")) {
									$(
											text + " option[value='"
													+ object[keys[variable]]
													+ "']").attr('selected',
											true);
								}
								if ($(text).is("textarea")) {
									$(text).text(object[keys[variable]]);
								}
							}

							var bootboxText = "#routeday-edit-div";
							var bootboxForm = "routeday-edit-form";
							var bootboxHtml = $(bootboxText).html().replace(
									bootboxForm, 'js-bootboxForm');
							bootbox
									.confirm(
											bootboxHtml,
											function(result) {
												if (result) {
													for (variable in keys) {
														var text = "#input-up-routeday-"
																+ keys[variable];
														object[keys[variable]] = $(
																text,
																'.js-bootboxForm')
																.val();
													}
													// hacer peti update
													$
															.ajax({
																type : "PUT",
																url : "/admin/panel/routes/ajax/routeday/"
																		+ idRoute
																		+ "/"
																		+ idDay,
																contentType : "application/json",
																data : JSON
																		.stringify(object),
																success : function(
																		done) {
																	resetFilter("routeday");
																	bootbox
																			.alert({
																				message : "Entidad modificada correctamente.",
																				backdrop : true
																			});
																},
																error : function(
																		err) {
																	bootbox
																			.alert({
																				message : "Se ha producido un error intentado modificar la entidad. Intentelo de nuevo."
																			});
																}
															});
												}
											});
						}
					});
			
		
			function openRouteDayModal(idRoute, idDay) {
				
			}
		}
	</script>
</div>







<div th:fragment="stay" id="routeday-frag"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" class="table-wrapper"
>
	<div class="filter-div">

		<div class="row">
			<div class="input-group filter-div-one col-sm-3 col-md-3 col-xs-3">
				<span class="input-group-addon" id="basic-addon1">Ruta</span> <input
					id="stay-input-field1" th:value="${routeValue}" type="number"
					class="form-control" 
					aria-describedby="basic-addon1"
				>
			</div>
			<div class="input-group filter-div-two col-sm-3 col-md-3 col-xs-3">
				<span class="input-group-addon" id="basic-addon1">Día</span> <input
					id="stay-input-field2" th:value="${dayValue}" type="number"
					class="form-control" 
					aria-describedby="basic-addon1"
				>
			</div>
			<div class="input-group filter-div-three col-sm-1 col-md-1 col-xs-1">
			</div>

			<div class="input-group filter-div-four col-sm-5 col-md-5 col-xs-5">
				<span class="input-group-addon" id="basic-addon1"> <select
					id="stay-select-filter"
				>
						<option th:selected="${filterField} == id" value="id">Id</option>
						<option th:selected="${filterField} == idRoute" value="idRoute">Ruta</option>
						<option th:selected="${filterField} == idDay" value="idDay">Día</option>
						<option th:selected="${filterField} == order" value="order">Orden</option>
						<option th:selected="${filterField} == time" value="time">Tiempo Parada</option>
						<option th:selected="${filterField} == travelTime"
							value="travelTime"
						>Duración</option>
						<option th:selected="${filterField} == travelDistance"
							value="travelDistance"
						>Distancia</option>
						<option th:selected="${filterField} == travelMode"
							value="travelMode"
						>Modo de Viaje</option>
						<option th:selected="${filterField} == type" value="type">Tipo</option>
						<option th:selected="${filterField} == idPlace" value="idPlace">Lugar</option>
						<option th:selected="${filterField} == idEventPlace"
							value="idEventPlace"
						>Lugar de Evento</option>
				</select></span> <input id="stay-input-filter" th:value="${filterValue}" type="text"
					class="form-control" placeholder="Filtro"
					aria-describedby="basic-addon1"
				>
			</div>

		</div>
		<div class="row filter-row2">
					<button class="btn btn-default glyphicon glyphicon-plus" type="button" onclick="openModalAdd('routes', 'stay')"></button>
			<button id="applyFilterButton" type="button" class="btn btn-default"
				onclick="filterBy('routes', 'stay', '0')"
			>Aplicar</button>
		</div>

	</div>


	<div class="table" style="overflow: auto;">
		<table id="stay-table" class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Ruta</th>
					<th scope="col">Día</th>
					<th scope="col">Orden</th>
					<th scope="col">Tiempo de Parada</th>
					<th scope="col">Duración</th>
					<th scope="col">Distancia</th>
					<th scope="col">Modo de Viaje</th>
					<th scope="col">Tipo</th>
					<th scope="col">Lugar</th>
					<th scope="col">Lugar de Evento</th>
					<th scope="col">Acciones</th>
				</tr>
			</thead>
			<tbody id="stay-body">

				<tr th:each="stay : ${stays}">
					<th scope="row" th:text="${stay.id}"></th>
					<td th:text="${stay.idRoute}"></td>
					<td th:text="${stay.idDay}"></td>
					<td th:text="${stay.order}"></td>
					<td th:text="${stay.time}"></td>
					<td th:text="${stay.travelTime}"></td>
					<td th:text="${stay.travelDistance}"></td>
					<td th:text="${stay.travelMode}"></td>
					<td th:text="${stay.type}"></td>
					<td th:text="${stay.idPlace}"></td>
					<td th:text="${stay.idEventPlace}"></td>
					<td><button th:id="'edit-row' + ${stay.id}"
							class="table-remove glyphicon glyphicon-pencil"
							th:onclick="'openModalEdit(\'' + ${stay.id} + '\',\'' + 'routes' + '\',\'' + stay + '\');'"
						></button>
						<button th:id="'delete-row' + ${stay.id}"
							class="table-remove glyphicon glyphicon-remove"
							th:onclick="'openModalDelete(\'' + ${stay.id} + '\',\'' + 'routes' + '\',\'' + stay + '\')'"
						></button></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="links">
		<button th:disabled="${index} <= 1" class="buttonGetNext"
			id="stayListSelectBack"
		>&laquo;</button>
		<input class="index-input" type="text" value="Página " readonly>
		<input class="index-input index-input2" id="stay-index" type="text"
			th:attr="value = ${index}" readonly
		>
		<button th:disabled="${isLastPage}" class="buttonGetNext"
			id="stayListSelectPlus"
		>&raquo;</button>
	</div>


	<div class="edit-div" id="stay-edit-div" hidden>

		<form class="stay-edit-form">
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Visita</label> <input id="input-up-stay-idStay" type="text"
						class="form-control" readonly
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Ruta</label> <input id="input-up-stay-idRoute" type="text"
						class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Día</label> <input id="input-up-stay-idDay" type="text"
						class="form-control"
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Orden</label> <input id="input-up-stay-order" type="text"
						class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Tiempo Parada</label> <input id="input-up-stay-time" type="text"
						class="form-control"
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Duración</label> <input id="input-up-stay-travelTime"
						type="text" class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Distancia</label> <input
						id="input-up-stay-travelDistance" type="text" class="form-control"
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Modo de Viaje</label> <select id="input-up-stay-travelMode"
						class="form-control"
					>
						<option value="WALKING">Andando</option>
						<option value="BICYCLING">En Bicileta</option>
						<option value="DRIVING">En Coche</option>
					</select>
				</div>
				<div class="col-md-6">
					<label>Tipo</label> <select id="input-up-stay-type" disabled="true"
						class="form-control"
					>
						<option value="PL">Lugar</option>
						<option value="EP">Lugar de Evento</option>
					</select>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Lugar</label> <input id="input-up-stay-idPlace" type="text"
						class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Lugar de Evento</label> <input id="input-up-stay-idEventPlace"
						type="text" class="form-control"
					>
				</div>
			</div>
		</form>
	</div>
	
	<div class="add-div" id="stay-add-div" hidden>

		<form class="stay-add-form">
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Añadir Visita</label> 
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Ruta</label> <input id="input-add-stay-idRoute" type="text"
						class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Día</label> <input id="input-add-stay-idDay" type="text"
						class="form-control"
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Orden</label> <input id="input-add-stay-order" type="text"
						class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Tiempo Parada</label> <input id="input-add-stay-time" type="text"
						class="form-control"
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Duración</label> <input id="input-add-stay-travelTime"
						type="text" class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Distancia</label> <input
						id="input-add-stay-travelDistance" type="text" class="form-control"
					>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Modo de Viaje</label> <select id="input-add-stay-travelMode"
						class="form-control"
					>
						<option value="WALKING">Andando</option>
						<option value="BICYCLING">En Bicicleta</option>
						<option value="DRIVING">En Coche</option>
					</select>
				</div>
				<div class="col-md-6">
					<label>Tipo</label> <select id="input-add-stay-type"
						class="form-control"
					>
						<option value="PL">Lugar</option>
						<option value="EP">Lugar de Evento</option>
					</select>
				</div>
			</div>
			<div class="row" style="margin-top: 15px;">
				<div class="col-md-6">
					<label>Lugar</label> <input id="input-add-stay-idPlace" type="text"
						class="form-control"
					>
				</div>
				<div class="col-md-6">
					<label>Lugar de Evento</label> <input id="input-add-stay-idEventPlace"
						type="text" class="form-control"
					>
				</div>
			</div>
		</form>
	</div>

	<script>
		$("#stayListSelectPlus").on("click", function() {
			var index = $("#stay-index").val();
			filterBy("routes", "stay", index);
		});

		$("#stayListSelectBack").on("click", function() {
			var index = $("#stay-index").val() - 2;
			filterBy("routes", "stay", index);
		});
	</script>
</div>